[2018-06-01 09:53] fabxc opened #4 "Maintain series cache"
I've been thinking about how we can sanely clean up cached series (and their metadata) that we hold in memory.

1. Naively, we could just drop all state every few hours and re-read the WAL from the beginning. We could store the last timestamp `t` we send to Stackdriver and ignore all samples before `t - 5m` (or similar margin). That's fuzzy but would be relatively safe. More accurately, we could e

[2018-06-05 15:09] jkohen opened #6 "Change config files to command-line flags"

[2018-06-06 16:32] jkohen opened #8 "Instrument with OpenCensus"
This is for monitoring the sidecar itself, not how we write the Prometheus data.

This is important so we don't rely on Prometheus to monitor the Prometheus sidecar (although that will be an option with OpenCensus).

https://opencensus.io/go/index.html

[2018-06-07 13:21] #6 closed, assigned to jkohen

[2018-06-07 16:17] #4 closed, assigned to nobody

[2018-07-09 11:13] fabxc opened #22 "Shard count gets stuck"
One problem I ran into when playing with latencies as part of #20: the remote queue increases or decreases shards based on the rate of incoming and outgoing samples.
The problem is that in `stackdriver-prometheus{-sidecar}` we removed [the code](https://github.com/prometheus/prometheus/blob/master/storage/remote/queue_manager.go#L437-L442) that drops incoming samples if the queue is full. The shar

[2018-07-17 14:53] #22 closed, assigned to nobody

[2018-07-23 13:14] fabxc opened #32 "Update all container image references to official release images"
We are referencing images with restricted access in a few places. This is just a reminder to update all those with official ones before making the project public.

[2018-07-24 07:20] fabxc opened #33 "Move monitored resource labels to explicit flags"
Currently we still have the `stackdriver.global-label` flag to inject parameters such as cluster name and location for assembling of the monitored resource.
That's essentially a leftover when the mapping via relabeling was exposed to the user. Currently it seems unclear to the user why those values are "global labels".

I think it would make sense to move these parameters to explicit flags, such a

[2018-08-08 22:09] jkohen opened #35 "Sidecar offset is less than 0"
`stackdriver_sidecar.json`  is getting initialized to `{"offset":-524288}`. This looks suspicious.

[2018-08-09 17:50] #35 closed, assigned to nobody

[2018-08-09 22:03] jkohen opened #39 "Support GCE targets"

[2018-08-09 22:04] jkohen opened #40 "Support EC2 targets"

[2018-08-10 22:36] jkohen opened #41 "Investigate garbage collection failed error, "find last checkpoint: not found""
I'm running the sidecar against Prometheus head and seeing this error. Otherwise it seems to work. @fabxc If you're busy I can investigate. Do you have any leads?

[code]

[2018-08-11 11:46] #33 closed, assigned to jkohen

[2018-08-13 13:28] #39 closed, assigned to jkohen

[2018-08-13 14:02] jkohen opened #43 "Add Google Application Default Credentials to kube setup"
The "kube" test environment runs Prometheus and the sidecar in Kubernetes. Prometheus server will need ADC to scrape targets in GCE (we will need something similar for AWS). The sidecar will need ADC for sending data to Stackdriver if running in Kubernetes outside GKE, but this is out of scope for this issue, as we currently only run the sidecar in GKE for testing.

Instructions:
- https://cloud.g

[2018-08-16 06:43] #41 closed, assigned to fabxc

[2018-08-17 07:43] fabxc opened #45 "Add filtering machanism"
We know of users of the existing integration that filter collected metrics for cost control.
The GA version should allow for the same kind of controls. Users could filter the data stored by the main Prometheus server but mutating their existing setup is not a good experience in this case.

The simplest approach is probably a repeated flag that allows to set Prometheus-style label matchers, which m

[2018-08-20 12:29] #40 closed, assigned to jkohen

[2018-08-21 13:59] #45 closed, assigned to nobody

[2018-10-19 01:05] jkohen opened #51 "Make metric prefix configurable and make project information config optional"
Forward port https://github.com/Stackdriver/stackdriver-prometheus/pull/19

[2018-10-23 14:08] jkohen opened #52 "Ensure that recorded metrics get sent to Stackdriver"
We need to make sure we can map them to metadata.

[2018-10-30 08:24] #51 closed, assigned to nobody

[2018-10-31 15:56] #52 closed, assigned to fabxc

[2018-11-30 05:56] #32 closed

[2018-12-03 10:45] jerub opened #61 "Document how to use --filter to send specific metrics"
https://github.com/Stackdriver/stackdriver-prometheus-sidecar/issues/45 implements the filtering mechanism, by passing `--filter=...` repeatedly we can elect to send only specific metrics to stackdriver.

This doesn't seem to be documented anywhere (except in the help text). It would be nice to have a few examples in place so that someone can easily set this up.

[2018-12-03 15:54] jkohen commented on #61
@fabxc you had some thoughts about documenting this (or not). Can you take a look?

[2018-12-06 14:42] fabxc commented on #61
@jerub do the new docs in the README resolve this issue?

[2018-12-07 23:50] jkohen opened #67 "Flaky test: TestTailFuzz"
This test failed during presubmit, and it's unrelated to my PR (which was documentation only): https://travis-ci.com/Stackdriver/stackdriver-prometheus-sidecar/builds/94064905

@fabxc how can we investigate this?

[2018-12-08 00:08] wdhnl commented on #8
OpenCensus now supports a view type of LastValue which is like a gauge https://godoc.org/go.opencensus.io/stats/view#LastValue

[2018-12-08 00:20] jkohen commented on #8
Thanks, Bill. We are working with OpenCensus to have a first-class gauge in Go soon, like it was added to Java https://github.com/census-instrumentation/opencensus-java/blob/master/api/src/main/java/io/opencensus/metrics/LongGauge.java

[2018-12-11 10:15] fabxc commented on #61
Considering this fixed.

[2018-12-11 10:15] #61 closed

[2018-12-11 12:44] fabxc commented on #67
The tailer keeps retrying to read more data until its context get canceled. Currently the test waits a fixed amount of time until it cancels after writing the last record. My guess is that the tailer just hasn't read everything yet before the writing goroutine terminates it.

I tried to reproduce this by running the test at high parallelism to cause contention but could not reproduce it.
Possibly

[2018-12-31 08:42] ToxicWar opened #71 "target refresh failed: unexpected response status: 404 Not Found"
Hi,

I try to use `stackdriver-prometheus-sidecar` with my `prometheus-server` who installed used `stable/prometheus` helm chart.

I configure my `stackdriver-prometheus-sidecar` with `--prometheus.api-address=http://127.0.0.1:9090/prometheus/`, because in Prometheus deployment I use `prefixURL`.

Then when my pod with `stackdriver-prometheus-sidecar` I see errors like this and zero metrics in Sta

[2019-01-03 11:40] #71 closed

[2019-01-04 14:44] jkohen commented on #71
Thanks for the report. Release 0.3.1 includes the fix.

[2019-01-18 18:39] polycaster opened #78 "Parsing order"
Hi all,

I've been implementing the sidecar across multiple environments.
On my tests I've come across an issue that i'd like to bring up.

`level=debug ts=2019-01-18T18:20:44.295817108Z caller=client.go:162 component=storage msg="Partial failure calling CreateTimeSeries" err="rpc error: code = InvalidArgument desc = Field timeSeries[0].points[0].interval.end had an invalid value of \"2019-01-14T2

[2019-01-21 12:06] polycaster commented on #78
An update on the above, the reason why the container stopped working was because it ran out of memory.

Upping the limit to 5 Gb showed that the container averaged at around 2.4 Gb of memory, maybe some recommended values for CPU and memory provisioning could be present in the documentation.

Regarding my second issue of only parsing old entries, I found this weird because we had this flag on in p

[2019-01-21 14:01] #78 closed

[2019-01-22 18:51] jkohen commented on #78
Thank you for chasing down the issue and providing an update. If you want to suggest a change to the documentation based on your findings, that'd be nice. I think the memory usage will depend on the scale of the deployment, so it may be hard to have a generic recommendation. Was the pod crashing with a useful message we could add to our troubleshooting docs?

[2019-01-25 14:58] polycaster opened #82 "Can't use stackdriver container"
Hi,

I have been trying to make this work for a while now and i've come to a few conclusions.

I can't run any of the containers present in your public registry. Both locally and inside the clusters attempting to run your container results in this:
`standard_init_linux.go:190: exec user process caused "permission denied"`

If I go and make the image myself, using `make docker` in the root director

[2019-01-25 15:00] polycaster commented on #78
There was no exit message, it simply quit and stopped outputting any logs, so it can be quite sneaky

[2019-01-25 15:05] polycaster commented on #82
The easiest way is using Docker run $IMAGE_TAG.

If it doesn't work it will output the string I've mentioned, if it works it outputs the help menu from the stackdriver sidecar binary

[2019-01-25 15:11] jkohen commented on #82
What IMAGE_TAG are you using? If it's `gcr.io/prometheus-to-sd/opencensus-operator`, please try `gcr.io/stackdriver-prometheus/opencensus-operator`.

We recently corrected our documentation, but it takes some time for documentaiton changes to become public.

[2019-01-25 15:14] polycaster commented on #82
I'm currently attempting to use your latest from the gcr repo:
`gcr.io/stackdriver-prometheus/stackdriver-prometheus-sidecar@sha256:18a16114d7856e224697d2157e8791f07664d14ea39d61a625f1f1d7495aa9b9` which is tagged with `release-0.3.1`

I've also tried all other images present on that repo which also didn't work

[2019-01-26 16:41] lkoba opened #83 "Sidecar stopped submitting stats to StackDriver after prometheus eviction on GKE"
We had stackdriver-prometheus-sidecar working on our GKE cluster without issues for a few days until the prometheus pod where the server and this sidecar resided was evicted. The pod was relocated automatically by the scheduler and Prometheus continued collecting data without issues. However, the sidecar stopped submitting data to StackDriver. We can manually query the data from Prometheus without

[2019-01-27 15:54] lkoba commented on #83
I added the sidecar as a target but those metrics do not show up.

The only metric I can see with the prometheus_sidecar_ prefix is prometheus_sidecar_dropped_series, I'm attaching the graph below and a manual scrape of the metrics endpoint of the sidecar.

![screen shot 2019-01-27 at 12 49 00](https://user-images.githubusercontent.com/168509/51803313-73526680-2232-11e9-84bd-6104a3cdaeee.png)

Sid

[2019-01-27 16:01] lkoba commented on #83
I just realized that this last information that I posted may be useless. Before giving up I deleted the stackdriver_sidecar.json and let is work overnight to see if it made a difference.

[2019-01-28 19:22] igorpeshansky commented on #82
Is this https://github.com/moby/moby/issues/26495 ?

[2019-01-29 10:19] polycaster commented on #82
@igorpeshansky The symptoms seem to be the same, but I have the difference that if I am the one building the container it then works.

I'm just trying to avoid builds from source and to use the official release version

[2019-01-29 13:02] igorpeshansky commented on #82
Hmm, if your self-built container works and the official one doesn't, is there a difference in the `docker history` output for the two containers? Are you able to reproduce the error on a fresh GCE instance (just to rule out the possibility that there's something funky with your local Docker setup)?

[2019-01-29 13:42] polycaster commented on #82
There are no differences other than some hashes and a slight size difference.

Local built container:
[code]

Image gcr.io/stackdriver-prometheus/stackdriver-prometheus:release-0.3.1:
[code]

At first I thought it was my local setup too, but i've got the same results from running it in a non-managed AWS based kubernetes cluster and in a GKE cluster in GCP.

I've also attempted getting someone else

[2019-01-29 13:53] polycaster commented on #82
Attempted spinning up different kinds of instances, results were the same:

Debian GNU/Linux 9 (stretch): Failed
Ubuntu 18.04: Failed
Container-Optimized OS 71-11151.71.0 stable: Failed

But, like I said previously, running it from the google cloud console will work.

[2019-01-29 16:02] igorpeshansky commented on #82
The two histories are different: layer 4 ("COPY file") has a different file hash, layer 6 is a "COPY dir" in your build and an "ADD file" in the official build, and layer 9 ("ADD file") has a different file hash and size. My guess is that they are using a different base image, since the `Dockerfile` says `latest`.
This, to me, suggests that rebuilding the official image today would likely fix the

[2019-01-29 16:09] polycaster commented on #82
Would it be worth locking the version of the base container and upgrading deliberately?

[2019-01-29 20:44] jkohen commented on #82
@igorpeshansky sorry, that's not my area of expertise. Let's make sure that we can provide a reliable and predictable experience. Is that what other projects tend to do?

I originally copied the `latest` tag from [Prometheus](https://github.com/prometheus/prometheus/blob/master/Dockerfile), assuming that it was a good practice.

[2019-01-29 23:03] igorpeshansky commented on #82
It doesn't look like the base container we're using provides a nice way to track versions. For now, I'll simply rebuild from the latest to fix the issue.

[2019-01-30 18:20] igorpeshansky commented on #82
@polycaster, I've just released `gcr.io/stackdriver-prometheus/stackdriver-prometheus-sidecar@sha256:c5ed872d455ed1e08035772e8f203449b73b57f89d22fa0cb2042fc62ff29957` (tagged with `0.3.2`) — can you please try it and see if it works for you?

[2019-01-30 19:39] igorpeshansky commented on #82
Note: the image was re-tagged as `release-0.3.2` instead, for consistency with previous tags. The `0.3.2` tag is no longer available (the image hash didn't change).

[2019-01-31 14:38] lkoba commented on #83
No. I posted the information requested but didn't research much more, I ended up using prometheus-to-sd as a workaround to get the information I needed on StackDriver. Thanks for your help.

[2019-01-31 14:38] #83 closed

[2019-01-31 15:39] fabxc commented on #83
Hi @lkoba, thanks for the graph and the metric dump.

This indicates that the metrics the sidecar could not find a matching target via Prometheus's API for the metrics it read from disk. It also clearly does a lot of requests to Prometheus target API endpoint.

Could you also provide is with the curl output from `/api/v1/targets`?
Your full configuration file for Prometheus would also be helpful.

[2019-02-01 17:10] polycaster opened #85 "Sidecar API retries"
Hi friends,

I've tested the sidecar successfully for 24 hours.
There's a couple of takeaways from this experience.

The implementation I was attempting was at a fairly large scale, there are 4 instances of prometheus per cluster with 6 clusters in total. This gives us a total of 24 sidecars active.

In 24 hours, these sidecars were responsible for a whopping amount of *82,099,610* API calls.
This

[2019-02-03 21:39] jalateras opened #86 "Warning: time series could not be written"
I have installed prometheus-operator and have injected the sidecart. I can see metrics being written to stackdriver but i am also seeing the this warning

[code]

Is this an issue with the application generating the metric

[2019-02-04 10:11] polycaster commented on #86
The sidecar will upload other metrics even if a specific one is failing.
In your particular case, it seems that the type of metric you are attempting to write does not match what is expected from a sum.

A metric of type GAUGE will go up and down accordingly with changes in it's values, while if a metric is CUMULATIVE it can only go up.

Meaning that if the first value of go_gc_duration_seconds_su

[2019-02-04 14:07] jkohen opened #87 "Handle metric typing errors gracefully"
This is a feature request related to #86 and other reports where users encounter that the metric type has changed.

This can happen for instance:
- If one Prometheus client (your application) is exposing the metrics as a GAUGE and another as a CUMULATIVE.
- If the metric type changes over time.

We could apply best-effort transformations to cast the type to the stored one, but there is no ideal so

[2019-02-04 14:07] jkohen commented on #86
@polycaster is right. In summary, if you aren't planning to use that metric, you can ignore the error message.

If you need the metric, you need to understand the source of the error. For instance:
- If one Prometheus client (your application) is exposing the metrics as a GAUGE and another as a CUMULATIVE, you need to ensure that all applications either use the same type, or different metric names

[2019-02-04 20:08] lkoba commented on #83
Here's the information you requested:

[targets.json.txt](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/files/2829647/targets.json.txt)

[prometheus.yml.txt](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/files/2829653/prometheus.yml.txt)

Please let me know if you need anything else.

[2019-02-12 18:47] fabxc commented on #83
Hi @lkoba,

we've likely identified the issue and will push a fix soon. Once it's in, you might want to give this another shot.

[2019-02-13 14:36] lkoba commented on #83
Thanks! Just let me know when, and I'll test it.

[2019-02-13 23:44] jkohen commented on #85
Hi Miguel, thanks for the report, and I'm sorry to hear our Prometheus support isn't working well for you. Can you share the error messages that you are seeing, so we can understand the source of the retries?

And just to check, you mentioned multiple sidecars per cluster. Is it possible that these sidecars are trying to write to the same time series? This would happen if, for instance, you have m

[2019-02-14 00:46] richardmarshall commented on #85
We're having a similar issue with the sidecars handling of errors. With a single sidecar container we are seeing more than 3 million API errors in a 24 hour period.

The sidecar container log is flooded with messages like these:
[code]

[code]

If we leave the container running eventually we end up hitting the stackdriver monitoring API rate limit.
[code]

[2019-02-21 14:53] jkohen commented on #85
@richardmarshall thank you for the additional information. The problem as I understand it is that we generate a histogram metric with no buckets.

I'll change the code so that if it detects a histogram that is causing this problem, it will prevent the error and print a warning. The reason for the warning is to ensure that we are not masking a more serious bug. If through that warning we learn that

[2019-02-21 15:10] polycaster commented on #85
Do you have any benchmarks for amount of API calls @jkohen unfortunately I don't have the logs anymore. But the majority of errors were due to the limitation of 1 timeseries / minute.

About our prometheus instances, they are scraping different exporters, however we do have a kafka exporter which produces a high volume of time series and therefore more data points for the sidecar to fail to write.

[2019-02-22 00:18] anderson4u2 opened #92 "Filter regex"
The filter is failing for 0.4.0 even with the examples given in the README
```Error parsing filters: invalid filter "'app=\"some-app\"'"```

The arg in the kubernetes manifest is like:
[code]

By looking at the code you expect 4 groups, but I can only see 3, so maybe that's it?
https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/cmd/stackdriver-prometheus-sidecar/main.go#L538

[2019-02-22 12:03] anderson4u2 commented on #92
so it wasn't the 4 groups thing. If anyone has this issue, it worked with quotations like:
[code]

[2019-02-22 12:03] #92 closed

[2019-02-22 17:34] anderson4u2 opened #93 "Filter not working"
I'm setting the filter as follows:
[code]
level=info ts=2019-02-22T12:52:07.654292427Z caller=main.go:256 msg="Starting Stackdriver Prometheus sidecar" version="(version=0.4.0, branch=master, revision=e246041acf99c8487e1ac73552fb8625339c64a1)"
level=info ts=2019-02-22T12:52:07.654367128Z caller=main.go:257 build_context="(go=go1.11.4, user=kbuilder@kokoro-gcp-ubuntu-prod-217445279, date=20190221-1

[2019-02-22 18:19] jkohen commented on #93
Thanks for the report. Nothing obvious jumps to mind. What is the full command-line? Note that if you have multiple filters, they all have to pass.

Do you see any metrics in Stackdriver if you remove all filters (the sidecar should forward all metrics by default)? Knowing this would help us eliminate the filter as a problem.

[2019-02-22 20:34] StevenYCChou commented on #83
Hi @lkoba,

We've identified an issue that negative cache in targets doesn't work as we expected, and it may make sidecar keep querying targets API and block the traffic. We fixed this issue with #91.

We've released a new release [v0.4.0](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/releases/tag/v0.4.0) including #91, and you may want to try it out.

Thanks again for reporting th

[2019-02-22 23:32] anderson4u2 commented on #93
Hi Javier, thanks for picking this up.

I'm passing the args through a k8s manifest. The full command is:

[code]

Yes without filter all metrics are exported, and others filters work.

The problem may lie in a small detail, that the metric I'm trying to export (consumer_group_backlog_avg_10m) is actually an aggregate metric from a group rule. The config is:

[code]

The contents of the metric are

[2019-02-25 14:08] jkohen commented on #93
Anderson, thanks for the clarification. The issue is indeed caused by recorded rules, as you suspected. I can see two options:

- You can ingest the raw metric into Stackdriver and use Stackdriver's query-time aggregations. In this case, ingest `kafka_consumer_group_total_lag` and query with 'mean aggregation' using a '10m window' and 'group by `consumer_group` label'. Would this work for your cas

[2019-02-26 15:07] jkohen commented on #93
I'm going to go ahead and close this request. If there's anything else I can do to help you, let me know.

[2019-02-27 13:22] anderson4u2 commented on #93
Thanks a lot for your reply!
The first solution wouldn't work for me, because I'm planning to autoscale (hpa) on these metrics.
The second solution works like a charm! Thanks!
Saw you've already updated the google docs as well, cool!

[2019-02-27 14:16] jkohen commented on #93
Glad it helped, thanks for the update!

[2019-02-27 16:27] StevenYCChou commented on #83
Hi @lkoba,

Just want to follow up on this thread. If you ever test the new image, let us know whether you encounter any issue. My team will be happy to hear your feedback!

[2019-03-05 08:00] sesto opened #98 "Federation metrics are not pushed to Stackdriver"
I scrape with Prometheus several exporters (for example node-exporter) as well as `/federate` endpoint of another Prometheus instance. I can see all metrics being scraped and collected. When I try to push the metrics  to Stackdriver, I can see the metrics originated from the exporters being pushed. However,  the metrics from the`/federate` endpoint are never pushed to Stackdriver. No errors in the

[2019-03-05 15:58] jkohen commented on #98
Thanks for the report, Sergei. Federated metrics aren't supported because we can't look up the metadata and monitored resource. This can't be solved within the sidecar. The recommended solution is to run the sidecar with each individual instance of Prometheus if possible.

We plan to make these things easier to diagnose in the future. Sorry for the confusion. /cc @davidbtucker

[2019-03-07 14:16] #98 closed

[2019-03-07 14:16] jkohen commented on #86
Closing due to inactivity.

[2019-03-07 14:16] #86 closed

[2019-03-07 14:21] jkohen commented on #85
Are you by any chance using recording rules? There is an assumption in the translation of histograms from Prometheus to Stackdriver that we just learned isn't true for recording rules. If that's your case, a workaround would be to temporarily avoid sending histogram from recording rules to Stackdriver and send the raw data instead.

[The assumption in `buildDistribution`](https://github.com/Stackd

[2019-03-07 17:07] polycaster commented on #85
That's on the money. We have 10 recording rules * 5 (each cluster)

[2019-03-10 22:39] anderson4u2 opened #103 "How often does the sidecar send metrics to stackdriver?"
Unless I've missed it in the README and the google docs page, don't think this is documented.

Just wondering how often does this sidecar send metrics to the stackdriver endpoint?

Thanks!

Anderson

[2019-03-11 10:45] fabxc commented on #103
When the sidecar is operating normally, it will detect new datapoints as they are written by Prometheus and sends them to Stackdriver almost immediately.

[2019-03-12 08:47] anderson4u2 commented on #103
thanks for the quick reply, feel free to close this issue :+1:

[2019-03-12 11:03] jkohen commented on #103
Thanks both!

[2019-03-12 11:03] #103 closed

[2019-03-12 12:26] sesto opened #104 "Recorded metrics are not sent to Stackdriver"
I have the following recording rule:
[code]
The rule is evaluated and recorded correctly:
[code]
I have also the following config file:
[code]
No metric appers in Stackdriver. Also no errors in the stackdriver-prometheus-sidecar logs.
This is just an example of the recorded metric. All other recorded metrics are also not sent to Stackdriver. Raw metrics are exported to Stackdriver as it should be.

[2019-03-12 13:00] jkohen commented on #104
Thanks for the report. I filed an internal tracker issue and someone will try to help you soon. If you are willing to try something, could you see if using a metric name without any colons (:) works? It's just a hunch, but worth trying if you have the time.

[2019-03-13 08:49] sesto commented on #104
Nope, replacing colons ```:``` with underscore ```_``` does not help

[2019-03-20 13:09] Pamir opened #107 "prometheus is crashing after sidecar injection"
error message : Tailing WAL failed: retrieve last checkpoint: open /data/wal: no such file or directory </p>

 export KUBE_NAMESPACE=monitoring
 export  GCP_PROJECT=<project_name>
 export  GCP_REGION=us-central1
 export  KUBE_CLUSTER=standard-cluster-1
 export  SIDECAR_IMAGE_TAG=release-0.4.0

prometheus operator values.yaml
[code]

[2019-03-20 13:59] jkohen commented on #107
The sidecar requires access to the Prometheus WAL, and it's stopping (crashing) because it can't find it. `/data/wal` is the default location. Please follow the installation instructions to make sure they match what your Prometheus instance is using: https://cloud.google.com/monitoring/kubernetes-engine/prometheus#configuration

Let me know if there is something else I can do to help.

[2019-03-20 14:42] Pamir commented on #107
Hi @jkohen
I deleted the sidecar from Prometheus crd. I double checked it, there is a directory in the path /prometheus/wal.
I have injected the sidecar with patch-operated.sh.  PVC is mounted to /data path successfully and /data/wal was there.

sidecar mount
[code]
prometheus mount
[code]
We have changed the argument in the script  to line below <p>
- --prometheus.wal-directory=/data

this time p

[2019-03-20 14:54] jkohen commented on #107
Glad it helped. The sidecar may take a few seconds to start, and then it will actually go silent, so those logs could be fine. Have you looked in Metrics Explorer whether metrics are showing up? See this https://cloud.google.com/monitoring/kubernetes-engine/prometheus#viewing_metrics

Also make sure that your Prometheus version is in the compatibility matrix: https://github.com/Stackdriver/stackdr

[2019-03-20 15:32] Pamir commented on #107
Hi @jkohen
Yes i have already looked the compatibility matrix. We are using prometheus 2.6 with sidecar 4.0-release.

In the metrics explorer i searched external/xxx but no chance.

[2019-03-20 15:42] jkohen commented on #107
@StevenYCChou you looked into #91 Can you help us diagnose this?

@Pamir can you include full logs from the sidecar? Can you share with us your project id and cluster name so we can take a second look? If you have a Cloud Support contract, please also contact us through that channel to ensure we have all the important information.

[2019-03-20 16:20] Pamir commented on #107
Hi @StevenYCChou @jkohen
I have just created a repo and deploy the sidecar from scratch with the same problem. Prometheus values.yaml and all necessary information is noted in the readme file

https://github.com/Pamir/stackdriver-prometheus-sidecar-configuration

[2019-03-20 16:40] StevenYCChou commented on #107
Thanks @Pamir for creating the repo with files. Let me look into your files above and I will get back to you if I have any question.

[2019-03-20 17:31] StevenYCChou commented on #107
Can you double check the version of prometheus you use? Why I ask this is because I see the repo you provided use [prometheus-operator v0.26.0](https://github.com/Pamir/stackdriver-prometheus-sidecar-configuration/blob/477c6d3f519f5b3cfa84072d097426bac20cac0e/values.yaml#L605-L606), and it uses prometheus v2.5.0 based on the promehtheus-operator [release page](https://github.com/coreos/prometheus-

[2019-03-20 18:20] Pamir commented on #107
Hi,
I cnahged the prometheus tag to 2.6.1. It has to be compatible with other prometheus related stuff.
[code]
In prometheus there is no such metric.
prometheus logs
[code]

[2019-03-20 19:05] Pamir commented on #107
Hi @StevenYCChou
With the latest version on the stable charts on github prometheus-operator repo with the configuration below again it does not effect the output of sidecar.

[code]

[2019-03-20 20:38] jkohen commented on #107
I see a lot of errors in your Prometheus logs. Is Prometheus working well? What are some working metrics?

Do you have any metrics that aren't recording rules? There are some limitations for recording rules at the time: https://cloud.google.com/monitoring/kubernetes-engine/prometheus#prometheus_integration_issues

[2019-03-21 21:36] jkohen opened #109 "Log when the metadata lookup fails"
This is useful for debugging, especially when the lookup fails because the job and instance labels can't be found. This is a common mistake when setting up recording rules and can be caused with relabeling. We need to be careful not to spam the log files.

[2019-03-22 03:23] Pamir commented on #107
Hi @jkohen
Recording rules come from stable/prometheus-operator. I am going to fix it and tell you the result.

[2019-03-23 02:13] #109 closed

[2019-03-30 14:26] oliver-neubauer-ecobee commented on #104
I have a similar issue. I'm exporting a gauge metric and the metric itself is autocreated in Stackdriver with no problems. Labels are correct etc. But all the values are 0 in Stackdriver, even though prometheus clearly shows them varying as containers change status. I've even verified this via the api and getting the raw timeseries from stackdriver.

[code]

Other metrics that I've checked seem to

[2019-03-30 14:44] oliver-neubauer-ecobee commented on #104
^ worth noting: this is not a recorded rule, just a collected metric from kube_status. I merely did the explicit static_metadata entry to see if it changed anything.

[2019-04-01 12:51] jkohen commented on #104
@oliver-neubauer-ecobee please file a new issue if you're not using recorded metrics. Also the original issue is about metrics not being sent. Metrics sent as 0 values sounds different.

[2019-04-04 20:53] oliver-neubauer-ecobee opened #114 "some metrics not being updated"
Hi, I have configured stackdriver-prometheus sidecar with the following args:
[code]
For the purposes of testing, I've labelled two metrics with 'stackdriver_export="true"'.
[code]

If I query prometheus, I can see timeseries data like:
[code]
^ there are metrics like these for every pod.

But, when I query stackdriver directly, despite finding out that the metric type itself has been correctly cr

[2019-04-04 21:20] bwmills opened #115 "Error sending metrics with DNS service discovery"
### Issue

After updating a Prometheus stateful set manifest to support this sidecar, with debug logging enabled and a filter that sends metrics to Stackdriver for a Cassandra cluster only:

* No data has been sent to Stackdriver yet
* Sidecar debug logs shows:
[code]

### Environment, Images and Names

* Environment: `GKE`
* Prometheus image: `2.6.1`
* stackdriver-prometheus-sidecar image: `0.4.1

[2019-04-05 14:41] jkohen commented on #114
Oliver, thanks for the report. I created an internal ticket to track this issue, and we'll follow  up with you. Please follow our troubleshooting guide: https://cloud.google.com/monitoring/kubernetes-engine/prometheus#prometheus_integration_issues

Can you share the pod spec for Prometheus and the stackdriver-prometheus-sidecar, as well as the Prometheus Server configuration, so we can better assi

[2019-04-05 14:53] jkohen commented on #115
Hi, thanks for the report. (3) is indeed pointing at the problem, and the cause is that using the DNS service discovery requires manual work on your part. Currently Stackdriver only officially supports the Kubernetes service discovery mechanism. I'll share the instructions with you, in case it helps.

You have to make sure that the metrics coming out from the "cassandra" scrape job have all the St

[2019-04-05 15:14] bwmills commented on #115
@jkohen - thanks for the fast response - will test soon and follow-up here.
Also, for question (1), is my current filter syntax correct? Thanks.

[2019-04-05 15:17] jkohen commented on #115
I think so. Quoting is tricky. The documentation shows the escaping needed on the command-line. You don't need it in YAML. I'll clarify, thanks for the feedback. And regarding (2), it looks fine to me, and (3) is definitely the issue here.

[2019-04-05 15:22] oliver-neubauer-ecobee commented on #114
Hi, and thanks for the assist.
The prometheus deployment is done via a fairly vanilla prometheus operator.
config: https://pastebin.com/xjZDswjC
As you might notice, the operator does a _lot_ of relabeling. it's possible it is clobbering something it shouldn't, though it does seem to be sending out job and instance labels.

The pod description is here: https://pastebin.com/SZqjPipa

The config men

[2019-04-05 15:25] oliver-neubauer-ecobee commented on #114
As a possible additional data point, I have a metric that is just flat-out not showing up in stackdriver.
[code]

[2019-04-05 15:31] jkohen commented on #114
If that metrics is being sent to Stackdriver with all those labels, then it
should be getting rejected, because you have more than 10 labels (11), and
the sidecar should be logging about it. Fortunately most of the labels are
redundant with the metrics we use to build the MonitoredResource
(container, pod, etc), so once we resolve the main issue you are having, it
should be easy to make the metric

[2019-04-05 17:28] bwmills commented on #115
@jkohen - I am closer thanks to your assistance and have tested a new Prometheus scrape config, though my targets are getting dropped during service discovery.

### New Prometheus Scrape Config
[code]
The scrape config above is renamed from `cassandra` to `infra-pods` as we have additional infra applications that we want to support with respect to using this sidecar to ship metrics to Stackdriver.

[2019-04-05 19:05] jkohen commented on #115
@bwmills I think the issue is minor, you have to change `__meta_kubernetes_service_annotation_prometheus_io_scrape` to `__meta_kubernetes_pod_annotation_prometheus_io_scrape` and `__meta_kubernetes_service_annotation_prometheus_io_port` to `__meta_kubernetes_pod_annotation_prometheus_io_port`, because you are using `role: pod` instead of `role: service`.

Let me know if that helps.

[2019-04-05 20:25] bwmills commented on #115
@jkohen - many thanks once again (how did I miss that).

Confirmed:

* This last change has resolved the dropped targets in Prometheus
* Data is now available in Stackdriver

For anyone who might benefit from this thread:

### Final Prometheus Scrape Config
[code]

Issue is resolved.

[2019-04-05 20:27] oliver-neubauer-ecobee commented on #114
Ah. I was unaware of the 10 label limit! Thank you.
Being able to trim labels with the stackdriver-prometheus-sidecar would be a great feature. In the meantime, I'll need to see how to get the autogenerated  configs to limit extra/unneeded labels.

[2019-04-05 20:41] jkohen commented on #115
I'm glad it worked, happy to help and thanks for summarizing the result.

[2019-04-05 20:41] #115 closed

[2019-04-05 21:19] StevenYCChou commented on #107
Hi @Pamir, we added debug logs with #110, and it is included in release [v0.4.1]( https://github.com/Stackdriver/stackdriver-prometheus-sidecar/releases/tag/v0.4.1) . If there is no data shown up in Stackdriver, you can turn on the debug logging by following instruction in the section "No data shows up in Stackdriver" of https://cloud.google.com/monitoring/kubernetes-engine/prometheus#prometheus_i

[2019-04-17 18:32] soymo commented on #104
The same issue is in v0.4.1.
In debug log i see `target not found` message and dropped stat recorded with `target_not_found` reason.

[2019-04-17 19:18] StevenYCChou commented on #104
Thanks for reporting, @soymo. Just want to ask a clarification question: do you see the `target not found` on recorded metrics  in v0.4.1?

Also if possible, can you create a new issue describing the following setup:
- Prometheus
  - image version
  - the missing target/metrics
  - the Prometheus configuration related to the target/metrics
- Sidecar
  - image version
  - The sidecar configuration

[2019-04-22 03:18] StevenYCChou commented on #114
Hi Oliver,

Can you past the config and pod description above again? Those two links are no longer available, and sorry that I didn't capture it when you pasted it at that time.

Also wonder whether you will be able to limit extra/unneeded labels on your side?

[2019-04-23 16:08] anderson4u2 opened #121 "sidecar restarting with corruption message"
Hi, my sidecar is restarting pretty much every day (61 times in 50 days). The logs before the last restart are as follows:

[code]

Any help as to why that might be? thanks!

[2019-04-23 18:29] jkohen commented on #121
Hi, thank you for the report. While I find someone to look into the issue, can you get us some extra information? What Prometheus Server version are you using? Can you share your Prometheus and sidecar configurations?

[2019-04-23 20:27] oliver-neubauer-ecobee commented on #114
Hi Steven
I've been unable to limit labels, unfortunately. I also haven't put to much time into it yet.
Unfortunately, to limit metrics ingestion, I actually need to add a label for the sidecar to filter.
Adding the ability to trim out extra labels at the sidecar level would be a handy feature

The new links are:
 prometheus config: https://pastebin.com/5abMA2uH
 pod description (from describe): h

[2019-04-23 20:52] StevenYCChou commented on #114
Thanks @oliver-neubauer-ecobee for the information. I just added your 3 files into our internal tracking ticket, and we will follow up with you.

[2019-04-24 10:11] knyar commented on #114
Sorry for the drive-by comment, but I think an easy way to decrease the number of labels might be to use recording rules. For example, you could do:

[code]

Note, that you will [need to add](https://cloud.google.com/monitoring/kubernetes-engine/prometheus#prometheus_integration_issues) `static_metadata` configuration for recording rules to be exported to SD.

[2019-05-07 10:48] anderson4u2 commented on #121
Hi, sorry for the delay.
Prometheus version: v2.4.3
Prom config:
[code]

Sidecar config:
[code]

[2019-05-07 10:56] anderson4u2 commented on #121
FWIW the logs before the last time it restarted are a bit different the the ones in the original message:

[code]

[2019-05-11 09:54] pranjal-harness opened #123 "Unable to use filter with sidecar"
I have prometheus deployment and while trying to run stackdriver-promethues-sidecar.
This is the error i am seeing in the container logs
 labels: {…}
 logName:  "projects/qa-setup/logs/sidecar"
 receiveTimestamp:  "2019-05-11T09:53:05.755076285Z"
 resource: {…}
 severity:  "ERROR"
 textPayload:  "level=error ts=2019-05-11T09:52:30.840948761Z caller=main.go:291 msg="Error parsing filters" err="inva

[2019-05-13 13:13] jkohen commented on #123
@pranjal-harness I believe you meant `=~` instead of just `~`. Can you try writing your filter as `{__name__=~io_harness_custom_metric_learning_engine_clustering_task_queued_time_in_seconds}` ?

Let me know whether that helped.

[2019-05-14 20:31] davidbtucker commented on #121
Thanks for the details. We currently suspect this is an issue with the Prometheus WAL reader library used by the sidecar. See https://github.com/prometheus/prometheus/issues/5299, fixed in https://github.com/prometheus/prometheus/pull/5300.

We'll update the sidecar's vendored version of the Prometheus library to pull in that fix.

[2019-05-17 17:11] StevenYCChou opened #128 "Confusing VERSION file on master branch"
VERSION file on master branch is confusing. For example,
fc1c9e25897105f7f4f28db48b9440eb886ff87e is included in release 0.4.2, but the VERSION file still shows as 0.4.0.

#81 pointed out VERSION file is used to build the binary. Here is an example when you show the version of the binary:
[code]

I purpose that we use `latest` in VERSION on master, so when anyone build the binary from master, this

[2019-05-20 14:06] jkohen commented on #123
@pranjal-harness  I'm closing this because I haven't heard back from you. Please open another issue if you need more help.

[2019-05-20 15:37] anderson4u2 commented on #121
thank you for looking into this! please comment here when the sidecar version that contains the fix is ready to be used

[2019-06-03 23:29] raghuAtWings commented on #123
@jkohen please see the output below

`./stackdriver-prometheus-sidecar --stackdriver.project-id=qa-setup --prometheus.wal-directory=/prometheus/wal --prometheus.api-address=http://prometheus-service:8080 --stackdriver.kubernetes.location=us-west1-a --stackdriver.kubernetes.c
luster-name=qa-setup --stackdriver.generic.location=harness --stackdriver.generic.namespace=harness --filter={__name__=~io_h

[2019-06-04 02:11] StevenYCChou commented on #123
Hi @raghuAtWings, thanks for getting back to us with the command and output. Can you follow the syntax of [Prometheus instant vector selectors](https://prometheus.io/docs/prometheus/latest/querying/basics/#instant-vector-selectors)? With the snippets you provided, I believe the filter parameter will be

[code]

Please notice the single-quote for the value of filter, and the double-quote for the va

[2019-06-04 06:05] raghuAtWings commented on #123
i got it to work using the latest release version and correct syntax. Thanks for your help

[2019-06-04 16:55] StevenYCChou commented on #123
Glad to help @raghuAtWings !

Two feedback I'd like to provide before I close this issue:
1. Try new parameter `--include` as a drop-in solution for `--filter`.

`--filter` is more flexible and powerful than `--include`, and `--filter` is introduced since v0.4.2. The details of `--include` parameter is documented in https://github.com/Stackdriver/stackdriver-prometheus-sidecar#filters.

2. Use `=`

[2019-06-04 16:55] #123 closed

[2019-06-29 21:11] matthewgoslett commented on #107
I also ran into the `retrieve last checkpoint: open /prometheus/wal` error today with the pod crashing.

I'm running the full https://github.com/coreos/kube-prometheus stack on GKE.  I've fixed my version to v2.6.1 and have mounted a PVC at /prometheus.  The wal definitely exists in there and contains data.

For abbrevity, I've only included my `prometheus/k8s` custom resource.

[code]

If I chang

[2019-07-14 22:10] StevenYCChou commented on #107
Hi @matthewgoslett,

Thanks for the report. I haven't used kube-prometheus yet, so I need to gather some further information.

1. How do you specific where Prometheus write to its storage, TSDB? `prometheus.wal-directory` should be Prometheus' `storage.tsdb.path` + '/wal'. The default tsdb path is `data` if you do not specify the config for Prometheus(see https://prometheus.io/docs/prometheus/late

[2019-07-15 13:23] jkohen commented on #43
This is nice to have, but we don't really need it now. Closing.

[2019-07-15 13:23] #43 closed

[2019-07-25 14:15] jkohen commented on #85
Thanks for your help, and I'm glad we could help. I'm going to close this issue since we haven't heard back from you. Please let us know if retries are still an issue after the issue with the recording rules was addressed.

[2019-07-25 14:15] #85 closed

[2019-07-29 09:23] jackge007 commented on #107
Hi @StevenYCChou
--log.level=debug
--prometheus.wal-directory=/prometheus/wal

with Prometheus Image:         quay.io/prometheus/prometheus:v2.7.1

 level=info ts=2019-07-29T09:21:09.70048798Z caller=main.go:298 host_details="(Linux 4.14.91+ #1 SMP Wed Jan 23 21:34:58 PST 2019 x86_64 prometheus-monitoring-prometheus-oper-prometheus-0 (none))"
 level=info ts=2019-07-29T09:21:09.70050804Z caller=mai

[2019-07-30 06:25] oofnikj opened #136 "[suggestion] specify necessary IAM roles in documentation"
I had an issue where metrics weren't showing up in Monitoring and I saw the following error in the sidecar logs being printed continuously:

    level=warn ts=2019-07-30T05:13:17.12753024Z caller=queue_manager.go:546 component=queue_manager msg="Unrecoverable error sending samples to remote storage" err="rpc error: code = PermissionDenied desc = Permission monitoring.timeSeries.create denied (or t

[2019-07-30 19:20] jkohen commented on #8
This is a cleanup. We'll take care of this if necessary, but currently it's not a blocker, so I'm closing the issue.

[2019-07-30 19:20] #8 closed

[2019-07-30 19:22] jkohen commented on #87
Warning added. This hasn't been a major issue, so closing.

[2019-07-30 19:22] #87 closed

[2019-07-31 06:29] koustubhg opened #137 "Prometheus metrics are shown on Stackdriver graphs with a delay which increases over time"
Prometheus version: v2.11.1
Prometheus scrapeInterval: 60s
Sidecar image: 0.4.3

I am using the following script to inject to sidecar to Prometheus

[code]
I have a shared volume between prometheus and sidecar and I can also see the metrics on stackdriver (image attached below)

![image](https://user-images.githubusercontent.com/44349550/62188254-6ea96f00-b389-11e9-9fc9-e8383f797c9e.png)

The metr

[2019-07-31 21:39] jkohen commented on #136
Hi, thanks for the suggestion. It sounds like you are using the software with GKE. The GKE documentation states that this permission is required at https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#use_least_privilege_sa

Let us know if we can help any other way.

[2019-07-31 21:39] #136 closed

[2019-07-31 21:52] jkohen commented on #137
@koustubhg thanks for the report. Your configuration looks fine. I need more information about your setup. Can you follow the triage instructions[1]?

We also haven't tested the integration against this version of Prometheus[2]. Are you able to test with Prometheus 2.6 and let us know whether you still see the problem?

@StevenYCChou you've looked at similar issues. Any thoughts?

[1] https://gith

[2019-08-02 19:30] jkohen commented on #121
I'm working on upgrading the Prometheus library. I'm having some trouble due to transient dependencies, but I'll keep trying.

[2019-08-02 20:04] jkohen commented on #67
Reopening. I only fixed one issue. We're also seeing `panic: write /tmp/test_tail370907351/00000059: file already closed`, which already existed before this change.

[2019-08-03 14:22] philips commented on #136
The docs here don't see to talk about the service account which is very confusing: https://cloud.google.com/monitoring/kubernetes-engine/prometheus

[2019-08-03 14:36] philips opened #141 "add prometheus operator docs"
This sidecar seems to work with the prometheus operator (once I figure out the service account #136).

See https://github.com/merklecounty/rget/blob/master/production/prometheus.yaml#L38-L65

[2019-08-04 04:26] philips opened #142 "permission denied despite creating service account"
I followed these steps to setup my Prometheus + Stackdriver stack.

- [Setup Prometheus sidecar with the Prometheus operator](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/issues/141)
- Used [GKE IAM instructions](https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#use_least_privilege_sa) to setup a new nodepool for my existing GKE cluster and scaled the o

[2019-08-04 04:55] philips commented on #142
On a hunch I enabled the GKE metadata service on my cluster and now I am getting

[code]

[2019-08-05 14:49] jkohen commented on #142
@philips thanks for the report and for the extra information about Workload Identity. In both cases I see credential errors in the logs you posted.

The first error indicates that the service account doesn't have the right permissions. See the instructions here on how to set it up correctly: https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#use_least_privilege_sa

The s

[2019-08-05 14:51] jkohen commented on #141
Thanks for the report, I'm glad you made it work. We also provide instructions at https://github.com/Stackdriver/stackdriver-prometheus-sidecar/tree/master/kube

I'll see what we can do to make this more visible in our documentation.

[2019-08-05 15:08] philips commented on #141
No, the problem is it isn't working. I still can't get it to work.

[2019-08-05 15:12] jkohen commented on #141
I've responded to #142 separately. We'll use this issue to track your feedback to document that Prometheus Operator works.

[2019-08-05 15:25] philips commented on #142
@jkohen Thanks for your help.

With fresh eyes this morning I noticed the project and the cluster name were inversed. ::facepalm::

After I [fixed that](https://github.com/merklecounty/rget/commit/52998a3b8c46d39c783b6cc2a7ff6683ea9ce659) everything works as expected.

I will close this but it would be really cool if there were a way for the application to know the difference between having incorr

[2019-08-05 15:25] #142 closed

[2019-08-05 16:01] philips commented on #141
Sounds good, thanks for the reply

[2019-08-06 21:23] bill-within opened #144 "Getting Counters into SD"
Hi,
Is it possible to get Counter-type metrics into SD, high-cardinality or not? I see the Cumulative aggregator, and I could manually create one for each of my individual counters, but that's not exactly ideal.

Prometheus has a Counter:
https://prometheus.io/docs/concepts/metric_types/

StackDriver has the same concept only they call it Cumulative:
https://cloud.google.com/monitoring/api/v3/metr

[2019-08-06 21:26] jkohen commented on #144
@bill-within counter metrics are supported out of the box. Are you having any issues with that?

The aggregator feature is only intended to reduce cardinality.

[2019-08-06 21:29] bill-within commented on #144
@jkohen I am, when I define something as a counter, Prometheus will pick it up OK (adding _total and _created), but it's never visible in Stackdriver. Any Gauges I create come through just fine, however.

[2019-08-06 21:32] bill-within commented on #144
& no errors/warnings in the prom or sidecar logs

[2019-08-06 21:33] jkohen commented on #144
Can you share your Prometheus and sidecar configurations? It would be useful to see the `/metrics` page for the metrics that aren't making it to Stackdriver.

Assigning to @bmoyles0117 after initial triage.

[2019-08-06 21:45] bill-within commented on #144
You bet!

Relevant config snippet:

[code]

Deployment args:

[code]

/metrics page snippet:

[code]

Metric created in app via:

[code]

Visible in Prometheus if I query 'time_service_calls_total':

[code]

[2019-08-07 03:45] koustubhg commented on #137
@jkohen
**triage instructions**

rate(prometheus_sidecar_samples_processed[5m])
213.95

rate(prometheus_sidecar_samples_produced[5m])
57.621313510945924

rate(prometheus_remote_storage_succeeded_samples_total[5m])
108.82083333333334

rate(prometheus_sidecar_samples_processed[5m]) ->  205.05833333333334
rate(prometheus_tsdb_head_samples_appended_total[5m]) -> 1579.8166666666666

The sidecar's proce

[2019-08-07 17:10] jkohen commented on #137
Yes, investigating why the sidecar can't keep up is a good place to start. Does it get enough access to CPU?  usage starved?

Can you share your Prometheus configuration? The errors in the logs don't explain the problem, but they could hint at something that's caused a higher volume of points than expected.

[2019-08-07 20:41] bmoyles0117 commented on #144
Thanks for the configs, I'm going to start investigating now and will report back with what I find.

[2019-08-07 23:20] koustubhg commented on #137
@jkohen
I tried filtering the data being passed to Stackdriver using namespace following this https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/README.md#filters

**And it works as expected.**
We have several services reporting data to prometheus (including istio), while I need only specific data. So, filtering data does solve my problem.
Thanks for the help. You can close

[2019-08-08 14:55] jkohen commented on #137
@koustubhg thanks for the update; I'm glad you got it to work. If you run into this issue again, please ensure the sidecar has sufficient CPU allocated, as I suspect that's the cause of the lag you were seeing.

[2019-08-08 14:55] #137 closed

[2019-08-08 18:42] parkjam4 commented on #141
The following doc was updated with a link to setting permissions on your service account:
https://cloud.google.com/monitoring/kubernetes-engine/prometheus

[2019-08-08 18:42] #141 closed

[2019-08-09 16:47] bmoyles0117 commented on #144
Before I dig much deeper, I'm noticing an inconsistency between the metric names you're defining, and the ones you're searching for.

Can you help me understand how `BACKEND_CALLS` is being translated to two metrics `_total` and `_created`? We might be using different versions of python, as when I run this code, I only get a single metric.

[code]

When I curl the endpoint, I get the following, no

[2019-08-09 16:59] bill-within commented on #144
I was surprised by that as well, however this is the first application I've instrumented with Prometheus and it happens for any Counter I create, so I figured that was normal. I'm using the standard python 3.7 from dockerhub (https://hub.docker.com/_/python) and the latest official python prometheus client off pypi (https://pypi.org/project/prometheus_client/). What does your environment look like

[2019-08-09 17:13] bill-within commented on #144
They look like they're coming from here: https://github.com/prometheus/client_python/blob/master/prometheus_client/metrics.py#L255

[2019-08-12 15:23] bmoyles0117 commented on #144
@bill-within thanks for the reference, it helped! Seems like with python 3.7, the prometheus libraries are using a new agreed, but undocumented standard for capturing counters with their original creation time. We're not handling this case in the prometheus sidecar, resulting in dropping these metrics. I'm working on a fix now, and will hopefully have it out by the end of the week.

[2019-08-12 19:22] jkohen commented on #121
@StevenYCChou will shepherd the next release. He'll update the bug when you can try it.

[2019-08-13 15:46] chmking opened #148 "Uploading GB of metrics in short time"
Before we begin, it is important to note that I made this attempt after what I had come to know as Stackdriver Monitoring had become Legacy Stackdriver without being aware.

In retrospect, I realize I may have too quickly skimmed the instructions that clearly said:

I assumed, in error, that I did have Stackdriver Kubernetes Engine Monitoring enabled in my GKE cluster when I went about following t

[2019-08-13 18:06] jkohen commented on #148
@chmking thanks for the detailed report. Just to check my understanding, did you start this job around June 13? If that's the case, I think what happened is that the sidecar uploaded all the history retained in the Prometheus storage, going back to late May.

Does that sound right? What behavior would you want to see?

[2019-08-14 14:27] chmking commented on #148
@jkohen Sorry, as thorough as I was, I forgot some important details.

I was not running Prometheus with any sort of persistence in my tests. This graph is showing the initialization of Prometheus-Operator with no previous data reporting to Stackdriver starting on May 20th. We see the drop off on June 14th because I killed Prometheus-Operator and stopped all reporting to Stackdriver.

I am reporti

[2019-08-14 15:37] jkohen commented on #148
@chmking thanks for the clarification. By default, Prometheus collects all the metrics exported by your application, and the Stackdriver integration sends everything that Prometheus collects to Stackdriver. I suspect that the unexpected data is coming from metrics exported by libraries you use, including the Prometheus client library, which exports many metrics about the environment.

You can use

[2019-08-14 21:50] StevenYCChou commented on #104
I confirmed it's a bug and I also see error `target_not_found` after I created recorded rules and added static_metadata.

[2019-08-15 01:32] bmoyles0117 commented on #144
The patch has been merged into master, @StevenYCChou is the release shepherd for this week's release. I believe you should have an image that you can use by the end of the week. Once we confirm that you're receiving your counter metrics, we can close this issue.

[2019-08-15 01:49] bill-within commented on #144
Excellent, thank you @bmoyles0117!

[2019-08-15 21:16] StevenYCChou commented on #144
Hi @bill-within , I have released a new version and please take a look:
Github release: https://github.com/Stackdriver/stackdriver-prometheus-sidecar/releases/tag/0.5.0
container image: gcr.io/stackdriver-prometheus/stackdriver-prometheus-sidecar:0.5.0

[2019-08-15 21:36] bill-within commented on #144
Looks perfect :+1: thank you @StevenYCChou!

[2019-08-15 21:36] #144 closed

[2019-08-20 14:54] mans0954 opened #151 "Support newer versions of Prometheus"
According to the README, stackdriver-prometheus-sidecar supports Prometheus 2.4.3 - Prometheus 2.6.x. There have been several releases of Prometheus since 2.6.x, most recently 2.12.0. Please could a newer versions be supported?

Thanks.

[2019-08-20 15:17] StevenYCChou commented on #151
Hi @mans0954, Thanks for the question!

The latest stackdriver-prometheus-sidecar might support 2.6+, as I briefly scanned through the release notes of Prometheus, I didn't see any breaking change. We also updated our dependency to use what's provided in 2.11.1, which is close to latest Prometheus.

However we haven't been able to test the stackdriver-prometheus-sidecar against newer version. Befo

[2019-08-20 16:08] mans0954 opened #152 "Count values shoot off to infinity"
Some of our metrics from our Kubernetes app sent to Stackdriver via stackdriver-prometheus-sidecar result in Stackdriver graphs which shoot off to infinity. Our alerts are triggered when this happens. Plots for the same time series look normal in Prometheus. I was wondering if anyone else is experiencing this, or could suggest what the cause was?

![Selection_065](https://user-images.githubusercon

[2019-08-21 17:59] jkohen commented on #148
Since I haven't heard back from you in one week, I'm going to close this issue. Thanks again for detailed report. Please reopen the issue if you need further assistance in this topic.

[2019-08-21 17:59] #148 closed

[2019-08-21 22:10] StevenYCChou commented on #151
As I answered you question, and I added more descriptions to clarify versions not shown in the compatibility section of README, I think it should resolve your concern, so I will close this issue now.

Feel free to reopen this issue if you still have question on this topic. Thanks!

[2019-08-21 22:10] #151 closed

[2019-08-22 14:46] mans0954 commented on #152
I can provide more detailed information about this issue. It seems to be triggered by pod deletion (occasionally we have seen the metric start at infinity when creating a pod too).

We have a summary Prometheus metric `timer_http_request`. I deleted the `tpdsworker-stag-7784696774-wvknh` pod around 12.06 BST (=11.06 UTC). As you would expect, in Prometheus the graph simply stops once the pod is de

[2019-08-24 08:17] mans0954 commented on #152
I've now got some evidence that points to this being an issue with stackdriver-prometheus-sidecar rather than Prometheus or Stackdriver. I'm using the `--stackdriver.store-in-files-directory` option to write the data stackd'veriver-prometheus-sidecar would send to Stackdriver to file instead. I've then written a simple script to find the timeseries for the pod I'm deleting and output the values in

[2019-08-27 12:13] pbnsilva opened #155 "TimeSeries could not be written"
Hello,

First time setting this up, and I'm getting several warnings of the kind:

[code]

And no metrics are written to stackdriver.

Any ideas what this might be?

Thank you

[2019-08-27 16:38] mans0954 commented on #152
@jkschulz - thanks. The sidecar is being run with the command:
[code]
Prometheus config: [prometheus.yml](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/files/3547210/prometheus.yml.txt)

[2019-08-27 20:19] #155 closed

[2019-08-27 22:11] roman-yepishev opened #156 "Cannot build within GOPATH: build flag -mod=vendor only valid when using modules"
Runing the build from within a GOPATH fails with:

[code]

This appears to happen because `GO111MODULE`, while set in Makefile and used for `deps` target, is not propagated for other build steps.

[2019-08-28 10:28] mans0954 commented on #152
@jkschulz - To help pin down what is going on, I have created a minimal app which generates a summary metric `timer_http_request`. You can find the source code here: https://github.com/mans0954/testsummary and the docker image  is on docker hub as `mans0954/testsummarymetric`. There is a simple script https://github.com/mans0954/testsummary/blob/master/traffic.sh which will deploy the image and th

[2019-08-28 10:39] mans0954 commented on #152
As a sort-of work around, I've produced a modified version of stackdriver-prometheus-sidecar, which drops summary _count values approaching the limits of a 64 bit int:

https://github.com/overleaf/stackdriver-prometheus-sidecar/blob/csh-issue-455-count-values/retrieval/transform.go#L99-L106

This doesn't completely eliminate the spiking, but it keeps it to within an order of magnitude of the legit

[2019-08-28 20:10] mans0954 commented on #152
We've seen this issue with both version 0.4.3 and version 0.5.0.

[2019-08-29 14:45] StevenYCChou commented on #104
Hi @memory - sorry I didn't provide update since last comment. Last time we suspected it's the logic in [targetMatch](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/targets/cache.go#L175-L189) may not be correct.

Based on the comment of this function, it should check match a label if `lset` has this label set. The existing code checked `lset.Get(tl.Name) != tl.Value` di

[2019-08-29 15:17] memory commented on #104
@StevenYCChou so, some progress:

- If I attempt to forward a recorded metric that aggregates away the job/instance labels, it still fails with the same cache lookup errors. :(

- If I include the job/instance labels (suboptimal, but one thing at a time), we get somewhere:

[code]

The [api documentation for metricDescriptors](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricD

[2019-08-29 15:41] memory commented on #104
Further testing: if I drastically shorten the name of the recorded metric and remove the colons:

[code]

...the errors go away, which is good, but now we're back to literally nothing happening on the stackdriver side.  No debug output at all from the sidecar, and `external.googleapis.com/prometheus/svc_response_latency_ms_q50_r30s` does not appear in the output of [metricDescriptors.list](https:/

[2019-08-29 22:33] #156 closed

[2019-09-02 22:06] castlemilk opened #160 "Tailing WAL failed"
This is specifically not working on the 0.5.1 release (so far tested), 0.4.1 is working.

I believe there's an issue relating to how the path for the checkpoint file is being resolved. The culprit is the following:

https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/3e6c59f370d26797abbcbb36d9684270c72a0e3b/tail/tail.go#L65

Why are we joining `dir` and `cpdir`.

as we set something

[2019-09-02 22:12] castlemilk opened #161 "--include flag depreciated?"
Running `go get github.com/Stackdriver/stackdriver-prometheus-sidecar/...` fetches an unknown version of the binary. This is indicated by running `stackdriver-prometheus-sidecar --version`, which returns:

[code]

When running `--help` we have the following output:

[code]

note that there's no flag for `--include`, which is still references in the main `README.md` for the repo. Has this capabilit

[2019-09-03 10:35] mans0954 commented on #160
I've just encountered the same issue:
[code]
Config:
[code]

[2019-09-03 10:39] mans0954 commented on #160
Looks like it was changed in this commit: https://github.com/Stackdriver/stackdriver-prometheus-sidecar/commit/d8e80a47d54eb2fdd95e51c0ac65066cf1471350#diff-ebda32def4aa9fd929c691ab34ebcc47R62

[2019-09-03 22:04] mans0954 commented on #152
@jkschulz have you been able to reproduce the issue?

[2019-09-03 22:13] bmoyles0117 commented on #152
@qingling128 would you be able to take this over?

[2019-09-04 04:13] StevenYCChou commented on #104
Hi memory@,

Thanks for sharing with us all the troubleshooting information, these are really valuable, and I really appreciate your efforts on it!

First, some comments on job/instance labels:

Labels job and instance are required for integration with recording rules. Here is a quote from [Integration Issues \[1\]](https://cloud.google.com/monitoring/kubernetes-engine/prometheus#prometheus_integr

[2019-09-04 08:48] mans0954 opened #162 "Project fails to build due to https://git.apache.org/ being down"
[code]
I appreciate that the unavailability of git.apache.org is outside of this projects control, but Apache seem to be moving towards using GitHub for VCS [1], and the installation instructions for thrift now refer to the GitHub url [2], so it may be advisable to add a replace statement to `go.mod`.

[1] https://blogs.apache.org/foundation/entry/the-apache-software-foundation-expands
[2] https:/

[2019-09-04 20:42] ankushchadha commented on #162
To make builds more deterministic, I would recommend setting GOPROXY to https://gocenter.io. GoCenter (central Go modules repository) has both old and new module versions sine we guarantee immutability and availability.

Example: https://search.gocenter.io/git.apache.org~2Fthrift.git/info or https://search.gocenter.io/github.com~2Fapache~2Fthrift/info (new module)

[2019-09-09 17:58] memory commented on #104
Okay, we're in agreement that forwarding metrics that lack instance/job labels isn't currently supported and it would require a substantial rewrite of the sidecar to support.  I'd gently suggest that given stackdriver's stratospheric per-metric cost, this feels like a limitation that should be addressed at some point: "just forward the raw metrics and do the aggregation on the stackdriver side" is

[2019-09-09 19:29] jkohen commented on #104
@memory have you checked out the [Counter Aggregator](https://github.com/Stackdriver/stackdriver-prometheus-sidecar#counter-aggregator) feature? It was added for your use case.

[2019-09-09 19:57] memory commented on #104
@jkohen I did, but unfortunately (a) the raw metrics in question here were histograms, not gauges, and (b) I needed to group them by the labels that I intended to preserve (ie: for every deployment, aggregate the 50/95/99th histogram_quantile for request latency across all of the deployment's pods without having to manually specify each deployment name in the sidecar config); there did not seem to

[2019-09-09 20:09] jkohen commented on #104
@memory it works for counters; I don't think it'll give you the right result for gauges and histograms. It should in principle work for histograms, with some additional work. We need to prioritize that with other work we have on our plates. Once we're ready, we'll make sure it covers your use case. Thanks for the feedback and sorry we don't have a better answer right now.

[2019-09-09 22:52] qingling128 commented on #152
Yeah, sorry for the delay. This has been a heavy oncall week with multiple release blocker issues. I'll take a look once the release is unblocked.

[2019-09-23 19:53] qingling128 commented on #162
Seems fixed by https://github.com/Stackdriver/stackdriver-prometheus-sidecar/pull/170.

[2019-09-23 19:53] #162 closed

[2019-09-24 14:34] StevenYCChou opened #176 "Test fails caused by github.com/apache/thrift and git.apache.org/thrift.git"
Seeing compilation error when running test locally with `make test`:

[code]

Seems like there some other code will use git.apache.org/thrift.git even we merge the https://github.com/Stackdriver/stackdriver-prometheus-sidecar/pull/170 to replace git.apache.org with github.com/apache.

[2019-09-24 15:09] StevenYCChou commented on #176
Somehow I run `make test` again it doesn't fail anymore.

[code]

Couldn't reproduce the issue anymore. Will close this issue now.

[2019-09-24 15:09] #176 closed

[2019-09-27 15:03] StevenYCChou opened #179 "Improve test for tail package."
To improve the test coverage for tail package so we can capture issue like https://github.com/Stackdriver/stackdriver-prometheus-sidecar/issues/160 in the future.

[2019-09-27 15:24] #160 closed

[2019-09-30 13:34] jkohen commented on #179
@StevenYCChou can you describe the improvements that you have in mind?

[2019-10-01 09:37] mans0954 commented on #152
@jkschulz Are you able to reproduce the issue in your environment?

[2019-10-01 19:03] jkschulz commented on #152
@mans0954 Yes, I was able to reproduce the issue using your script -- thanks for that! I'm working to isolate the issue in the sidecar and will let you know what I find within the next day.

[2019-10-03 15:01] mans0954 opened #184 "Continuing issues with git.apache.org"
Further to #176 , there still seem to be issues with git.apache.org when building in a clean environment:
[code]

[2019-10-07 13:37] mans0954 commented on #152
@jkschulz - Thanks. At least it's not just me! Have you been able to identify the source of the problem?

[2019-10-08 17:12] jkschulz commented on #152
@mans0954 Yes, it looks like Prometheus returns NaN if there aren't any samples in a certain time period (this is expected) for a quantile, so this is what we see once the pod goes down. This gets legally stored as a float.

When the diff for the new set of samples is [calculated](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/retrieval/transform.go#L96), [`NaN-x = NaN`]

[2019-10-10 03:23] StevenYCChou commented on #152
I'd like to follow up on what @jkschulz said and for your reference, a member of Prometheus also answered [why NaN is reported](https://github.com/prometheus/prometheus/issues/860#issuecomment-115614868) if you are curious to know. The same thread also suggests using a Histogram rather a Summary if you want more control. Also if you do not want a point get skipped once #186 is closed, you may cons

[2019-10-10 20:44] #152 closed

[2019-10-11 00:19] jkschulz commented on #152
[0.6.2](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/releases/tag/0.6.2) has been released, which includes this fix.

[2019-10-16 20:08] bill-within commented on #144
@bmoyles0117 I didn't feel like opening a ticket to ask this question was warranted, but please forgive me if this not the appropriate format for this question: is it possible to run this stackdriver-prometheus-sidecar outside of k8s? Or outside of docker entirely?

I'm going to be scraping metrics from some mixed environments (GCE, EC2, bare metal) and I'd like to continue using the :9090/metrics

[2019-10-23 21:17] jkohen commented on #184
Thanks for the fix. This should be fixed on HEAD. Let me know directly if that's not the case.

[2019-10-23 21:17] #184 closed

[2019-10-24 02:24] qingling128 commented on #121
https://github.com/Stackdriver/stackdriver-prometheus-sidecar/pull/143 was released in https://github.com/Stackdriver/stackdriver-prometheus-sidecar/releases/tag/0.5.0.

[2019-10-24 02:24] #121 closed

[2019-10-29 15:32] StevenYCChou commented on #114
Hi @oliver-neubauer-ecobee - just want to follow up on this.

Will what knyar@ commented in https://github.com/Stackdriver/stackdriver-prometheus-sidecar/issues/114#issuecomment-486161550 mitigate the issue you your faced? I would recommend aggregating labels away too.

[2019-11-05 15:12] StevenYCChou commented on #114
Hi @oliver-neubauer-ecobee,

Since I haven't heard back from you in one week, I'm going to close this issue.

Thanks for the initial for the initial report and follow-ups, and please reopen the issue if you need further assistance in this topic.

[2019-11-05 15:12] #114 closed

[2019-11-05 15:50] StevenYCChou commented on #104
@memory Just curious - Based on the recording rules you provided, do you try to get quantileX from a Prometheus Histogram?

Prometheus Histogram type will be transformed into Stackdriver [Distribution](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/TimeSeries#Distribution) type of timeseries, and you can [aggregate](https://cloud.google.com/monitoring/charts/metrics-selector#aggregation-op

[2019-11-05 17:49] memory commented on #104
@StevenYCChou yeah, I'm using recording rules to get a quantile from the prometheus histogram and forwarding it to stackdriver as a simple metric, e.g.:

[code]

Unfortunately, simply forwarding the histogram directly isn't possible for us and is how we got into this situation in the first place. The source histogram has more labels than the current stackdriver limit, so we were attempting to use

[2019-11-19 12:17] r1ckr opened #200 "Add option to specify how much in the past to tail"
Hey, we are deploying this into our current prometheus cluster which has data for the last 15days. This hits the limit of our quota and incur in charges.

Would be possible to add to the sidecar the option to export only from the last X amount of time?

[2019-11-26 20:08] qingling128 commented on #200
Hi @r1ckr,

The sidecar is designed to ingest time series as it comes in. `export only from the last X amount of time` might not be an option.
Prometheus Server wise, you can configure duration and retention by https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects.

BTW, which quota are you hitting?

[2019-11-27 16:14] r1ckr commented on #200
Hey @qingling128. I am hitting the Stackdriver API calls limit in GCP.

The issue is that we are deploying this sidecar beside of our current prometheus server, which has a data retention of 15 days, the sidecar starts sending data older than the max amount of hours in the past that Stackdriver allows int GCP, so we start getting a lot of denials until we hit the quota limits and then nothing gets

[2019-11-27 20:30] qingling128 commented on #200
Hi @r1ckr,

Do you mean you are hitting Stackdriver Monitoring API request per minute write quota? How much time series are we sending per minutes? If the number of time series in one minute is large enough, we will hit this quota. Reducing data retention would not help avoid this case though, because sidecar always send time series as soon as possible. What we really need might be a throttle feat

[2019-11-28 22:12] r1ckr commented on #200
So, if we had a new instance of prometheus, this would work OK, since it will only have like 5min of data. But since we have 15days worth of data, the sidecar starts sending data from 15days ago until now. But Stackdriver doesn't let us send data older than 25hrs, resulting in us consuming all our API quota for data that never even got there.

By the way, I started this thread because of this line

[2019-12-02 22:01] qingling128 commented on #200
Hi @r1ckr,
Ah I see what the issue is. What is your Prometheus configuration for the following fields?
`--storage.tsdb.max-block-duration`
`--storage.tsdb.min-block-duration`
`--storage.tsdb.retention`

I assume the retention is set to 15 days. What about block duration? The earliest metrics sidecar traces back to should always be less than the block duration. By design, sidecar only tails the mos

[2019-12-02 22:28] r1ckr commented on #200
Thanks for coming back @qingling128, that's it then, the 3 values are set to default:

[code]

That's why, so it is actually sending data from 36h hours ago and not from 15days ago, right?

This makes sense, we would need to configure this to be shorter than 25h to not go over the quota limits so fast.

Will check that and confirm.

[2019-12-03 02:34] qingling128 commented on #200
Yeah, `36 hours ago` should be when it started to send metrics for.

[2019-12-09 21:33] davidbtucker commented on #161
Hi, the --include flag is still supported.

In https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/cmd/stackdriver-prometheus-sidecar/main.go, there's:

	a.Flag("include", "PromQL metric and label matcher which must pass for a series to be forwarded to Stackdriver. If repeated, the series must pass any of the filter sets to be forwarded.").
		StringsVar(&cfg.Filtersets)

When

[2019-12-09 21:33] #161 closed

[2019-12-11 10:54] MaxWinterstein opened #211 "Histogram buckets with scientific notations (e.g. 1.5e+06) are dropped"
I try to get `dramatiq` message times exported to stackdriver. As my runtimes vary between milliseconds and minutes i added some large buckets.

Histogram is generated via https://github.com/prometheus/client_python in the background.

It seems like buckets containing an scientific notations will not be exported to stackdriver correctly.

## Data example:

### curl HTTP

[code]

### Prometheus das

[2019-12-11 15:06] #211 closed

[2019-12-16 14:00] pjocke opened #212 "corruption after 0 bytes: read first header byte: open next segment: next segment 0 too high, expected 1"
Hi.

I have deployed Prometheus 2.2.1 to GKE from GCP marketplace, and then followed the README in this repo to also deploy the sidecar. The sidecar starts up just fine, but keeps crashing with the following error:

```corruption after 0 bytes: read first header byte: open next segment: next segment 0 too high, expected 1```

My pods are picked up by the service discovery and gets scraped just fin

[2019-12-16 19:03] bmoyles0117 commented on #212
Prometheus 2.2.1 is not listed in our compatibility matrix here:
https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/README.md#compatibility

You will need to install Prometheus 2.5+ to ensure that we're not triaging an issue due to incompatibility across the sidecar and the Prometheus server. Closing this issue for now, as we don't plan to support Prometheus 2.2.1 at this ti

[2019-12-16 19:03] #212 closed

[2019-12-20 10:55] Inkdpixels commented on #104
Not sure if this is related, but we also got some metrics that are not properly forwarded to StackDriver. While metrics collected from the services directly are properly propagated, metrics collected from the Pushgateway do not seem to work.

When setting the log level to debug we also got the `target not found` message for the exact metrics that are missing in StackDriver.

[code]

Versions in us

[2019-12-22 11:12] Inkdpixels opened #216 "No resource labels(cluster name/location) are associated to custom metrics pushed by `stackdriver-prometheus-sidecar`"
Our custom metrics propagated to stackdriver do not hold the `cluster_name` metric even though the argument is provided to the `stackdriver-prometheus-sidecar`

**Versions in use are:**

* stackdriver-prometheus-sidecar 0.6.4
* prometheus v2.13.1

The debug log leaves us without any hints, e.g. nothing in regards to the custom metrics are being logged except for logs of the `queue_manager` compone

[2019-12-22 11:51] #216 closed

[2019-12-22 11:51] Inkdpixels commented on #216
Nevermind this, it seems like the labels are only visible when selecting the correct resource type in the stackdriver interface.

[2020-01-19 03:28] thomasinspectorio opened #217 "stackdriver-prometheus-sidecar crash after redeploy pod"
Hi there,
we setup this infra in the google k8s cluster. But when we redeploy the prometheus pod, firstly we got:
"
evel=info ts=2020-01-19T02:13:53.643Z caller=queue_manager.go:221 component=queue_manager msg="Stopping remote storage..."
level=warn ts=2020-01-19T02:13:53.823Z caller=queue_manager.go:534 component=queue_manager msg="Unrecoverable error sending samples to remote storage" err="rpc e

[2020-01-29 21:18] qingling128 commented on #200
Seems like we don't need changes to the sidecar at this point. Closing this one for now.

[2020-01-29 21:18] #200 closed

[2020-02-10 09:24] rky0930 opened #221 "Using operator in filter"
Is there a way to use an operator in a filter?
I want to send only metric with value greater than 0 to stackdriver.
ex)
PromQL: {__name__="kube_pod_status_phase", namespace="kubeflow", phase=~"Pending|Failed"} >0

When I run it on a filter, I get the following error:
[code]
[code]

[2020-02-26 15:34] lwsanty opened #222 "stackdriver sidecar + k8s deployment with several replicas"
For example, there's a deployment, which pod has metrics and a prom sidecar container.
Then I scale the deployment to some value >= 1.

What will eventually happen with Google Cloud Monitoring metrics? Will it become a mess of metrics from several replica pods?

If yes is there any way to additionally tag such metrics to distinct one pod from another?

[2020-02-26 16:19] igorpeshansky commented on #222
I think there's some confusion here. The sidecar in this repository runs alongside the Prometheus server, not the user pods. Once you've deployed the Prometheus server with this sidecar, there's no need to run any sidecars in your other deployments to get Prometheus metrics.

The resulting metrics will distinguish the pods (rather, containers) that produced the metrics, via the `k8s_container` mon

[2020-02-26 16:37] lwsanty commented on #222
@igorpeshansky thank you for a fast reply!

In this case I should probably consider the next approach:
1) I have a deployment with several replicas that contain metrics
2) there's also a k8s service that exposes metrics port
3) I run a deployment with prometheus server(having a job to scrape the service) and a stackdriver sidecar.

Is it correct or am I missing something?

[2020-02-26 17:09] igorpeshansky commented on #222
I think this depends on your setup, but normally step 2 is not necessary. Prometheus does its own discovery and contacts the metrics ports on each pod directly.

This sidecar is designed for configuring an existing Prometheus server to write to Stackdriver. What I would suggest doing is following any of the myriad guides on the internet for deploying a Prometheus server on your Kubernetes cluster

[2020-02-26 17:09] #222 closed

[2020-03-03 06:48] sanketg86 commented on #104
I am also getting same issue.
i have record_rule as below
[code]

but unable to see on stackdriver. somehow stackdriver side car not sending this metric.
recorded rule able to see on prometheus metric dashboard.

Please help me here.

[2020-03-03 19:39] memory commented on #104
It's been about 4 months since the last update to this issue, and nearly a year since it was first opened.  I'm currently tottering along with the workaround from https://github.com/Stackdriver/stackdriver-prometheus-sidecar/pull/159 but it would be nice to have some indication of whether and when this is likely to be fixed upstream.

[2020-03-06 09:15] G-Goldstein opened #223 "Repeated failure messages, large GCP metrics billing"
We've been running Prometheus for a few months now, but with only two metrics; about a dozen times a day, we run a process and we record into Prometheus the time it's taken, as well as a final integer gauge of how many things it's worked on. I've been able to use Prometheus in Kubernetes to record this information and I've put Grafana over the front of it to see the data, so I know that part works

[2020-03-06 12:52] brunodomenici commented on #223
I have a similar situation here...

[2020-03-09 22:43] dopey opened #224 "One or more points were written more frequently than the maximum sampling ..."
I just set up stackdriver with prometheus in my kubernetes cluster. I have debug level logging turned on for the sidecar (it was very useful for debugging all the permissions issues I ended up running into). Now that the flow is working and sending data to stackdriver I'm noticing a lot of debug level messages in the logs that look like:

[code]
Not just that specific metric, but many, many others

[2020-03-09 22:52] dopey opened #225 "kube-state-metrics "unkown resource""
I have `kube-state-metrics` running in the `kube-system` namespace and prometheus reading from the `/metrics` endpoint using the following configuration in the prometheus-config.yaml:

[code]

But it seems I may not be doing the relabeling correctly for stackdriver because I'm seeing this error in the sidecar logs:

[code]

Any guidance on how I might configure this integration correctly would be

[2020-03-10 00:52] funzie19 commented on #225
I am experiencing a similar problem, also looking at a `/metrics` endpoint.

[2020-03-10 08:43] rhysxevans opened #226 "Non Kubernetes based metrics"
Hi,

I am not sure this is possible, however we have prometheus exporting cloud based metrics that we would like to import into stackdriver. We are unable to use stackdriver directly as it doesn't support the AWS cloud service metrics we need.

Is this scenario possible with this tool ? At present I am getting in my testing (I am testing from a GCP instance)

`caller=series_cache.go:361 component=

[2020-03-11 08:50] sneko opened #227 "Any predefined filters to avoid metric duplication on GKE (and overcost from Stackdriver)?"
Hi,

Just got a bill of $600 for 2,5GB of metrics on Stackdriver within a month... surprise! haha

After investigating it seems to come from external metrics, which are pushed by Prometheus. Since Google makes it free for all metrics from nodes and pods (since I'm GKE), and that I see my own Prometheus exports also those metrics, how could I filter all metrics Google is already managing?

Does any

[2020-03-27 13:43] AgrimPrasad commented on #227
Yes, it's mentioned in the docs. Basically, you need to include only application metrics with the prometheus sidecar and exclude everything else. https://cloud.google.com/monitoring/kubernetes-engine/prometheus#managing-costs

[code]

[2020-04-06 08:31] sdenef-adeo opened #228 "Feature request: Allow to set export interval per metric"
Hello,

I would like to suggest a feature. It would be to allow to set an export interval (reporting interval) with the same kind of filter used for the include flag.

For example, according to a global 60s export interval, I want to be able to export a custom metric data point only once per 300s/5mn. Because this metric varies little (eg: from 80% to 90% takes 4h).

With this feature, I will be a

[2020-04-23 15:19] sdenef-adeo commented on #228
Thanks to have linked my feature request to the PR.

FYI I think my request is not covered by the PR. Even if a user is aware about the Stackdriver metrics billing rules and he/she accepts to pay, it is better to provide a way to push only useful data.
Using filters to decide which metrics to push is one option.
Providing a way to manage the rate per metric could be an other option.

Hope this hel

[2020-04-23 16:46] igorpeshansky commented on #228
@sdenef-adeo We understand that the PR was to advise the users of the costs they may incur, while your FR is to actually control those costs. That PR was referencing your FR and others as evidence that this is a real issue users face. We are currently looking into this problem from many angles, but don't have any updates on an actual solution yet.

[2020-04-27 11:31] dgdevops opened #229 "Prometheus Stackdriver Sidecar error component="Prometheus reader" msg="target not found""
The stackdriver sidecar injected into prometheus pod (deployed by prometheus-operator) does not send application metrics to Stackdriver. With the default sidecar configuration I can see default metrics related to alertmanager, prometheus, go, kubedns in stackdriver but the application metrics are missing. In the sidecar container logs I can see such errors constantly (with logging level debug enab

[2020-04-29 09:36] JoarLeth opened #230 "Node-exporter uses deprecated apiVersion"
Hey 👋
I deployed this project in a cluster a few months back and now we're planning to upgrade to k8s version 1.6. I noticed that the node-exporter (https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/kube/full/node-exporter.yaml) uses `apiVersion: apps/v1beta2` for the `DaemonSet` which is deprecated and removed from Kubernetes as of version 1.16 (https://kubernetes.io/blog/

[2020-04-29 14:11] dgdevops commented on #107
Hello @Pamir,
I stumbled upon this ticket while I was struggling setting up the stackdriver-sidecar.
I also had exactly the same issue ( /prometheus/wal: no such file or directory") and I successfully found the solution (accidentally) and my prometheus-operator pod with all containers including the sidecar came up properly and I could see the metrics in Google Stackdriver right away.

In my promet

[2020-04-29 22:00] nambrot opened #231 "Export more metric labels"
Howdy, I was wondering if it is possible to configure the sidecar to export some specific labels of our metrics? Or are we constrained to the generic task resource labels in Stackdriver?

[2020-04-29 23:50] igorpeshansky commented on #230
Thanks for the report. The fix is being reviewed.

[2020-04-30 00:04] igorpeshansky commented on #231
The sidecar supports a number of resources, all of which are listed in [resource_map.go](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/retrieval/resource_map.go). Most of the other labels are attached to the timeseries, except for the target labels and `__name__` (see [series_cache.go](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/retrieval/s

[2020-04-30 00:05] #230 closed

[2020-04-30 04:25] nambrot commented on #231
Thank you for your prompt response! I'm not entirely sure I understand the Resource Map. When we have run it on our cluster, it's been translated to a `Generic Task`. If I understand correctly, if I have some application specific metrics, that will be my best shot and using `job` and `task_id` as the only free labels I could use for my purposes?

[2020-04-30 09:31] dgdevops opened #233 "Prometheus-operator stackdriver sidecar sharding events"
I am using service monitor k8s resources to add targets to Prometheus.
I keep receiving metrics in Stackdriver from the sidecar until I add a service monitor to my k8s cluster that adds 220 targets to my prometheus, once the targets come up ALL metrics in stackdriver stop at the same time and no new metric values appear in Stackdriver. Based on the sidecar container logs shard calculation takes pl

[2020-04-30 18:01] nambrot commented on #231
The reason I ask is that with `prometheus-to-sd` I was able to get all the labels from my prometheus metrics into stackdriver as well

[2020-05-04 17:29] saturnism opened #234 "add README section to work w/ prometheus operator"

[2020-05-04 17:31] igorpeshansky commented on #234
@saturnism offered to send a PR to help with the docs.

[2020-05-07 18:02] nambrot commented on #231
@igorpeshansky Just wondering if you had any updates/tips here?

[2020-05-08 10:32] osigida commented on #221
I had a similar problem
`--include='{__name__!~"cadvisor_.+"}` didn't actually work got errors like
`parse error at char 19: vector selector must contain at least one non-empty matcher`

had to move negation into the regexp instead like that `--include='{__name__=~"^cadvisor_.+"}`

[2020-05-14 09:45] jcortejoso commented on #224
I am getting the same error but seems that it happens sending some series to an existing metric:

[code]

I do not know how to debug/know for which metrics is throwing those errors.
Seems like the `scrape_interval` plays a major component for the issue, so for `scrape_interval` lower that 60s the error appears very frequently; for 60s the errors appears sometimes and for `scrape_interval` of 120s

[2020-05-27 18:39] StevenYCChou commented on #224
@jcortejoso - I think the metric descriptor may still show up in other lines of the debug logs - in the log you provided, the message may be truncated. I have noticed before that some lines have the metrics name in the debug logs, sometimes they didn't show up.

It may be the logs are truncated, but it may also be bugs causing the metric name not logged.

See the debug log from the dopey - which h

[2020-05-29 09:41] geoashis commented on #225
I am experiencing the very same issue,
`level=debug ts=2020-05-29T09:38:55.630Z caller=series_cache.go:354 component="Prometheus reader" msg="target not found" labels="{__name__=\"node_namespace_pod:kube_pod_info:\",namespace=\"airflow\",node=\"gke-kubernetes-newsi-kubernetes-443494f1-ccdw\",pod=\"bq-eviction-policy-1589126400-nwhw9\"}"`
 Any idea why?

[2020-06-02 21:38] laurentiuspurba opened #237 "--include= filter does not work"
I am having issue using `include=` filter.

Using the following filter, no data was sent to Stackdriver
[code]

The log that I see:
[code]

I was able to get data sent to Stackdriver if I use only the following:
* `--include={__name__=~\".+\"}`
* `--include={job__=~\".+\"}`
* `--include={__name__=~\"container_network_transmit_packets_total\"}`
*  `--include={__name__=~\"node_exporter_build_info\"}

[2020-06-22 09:30] karolsochk opened #242 "Adding new sources/jobs to be pushed to stackdriver"
Hi All,

We're struggling a bit with custom job metrics being pushed to stackdriver, here's what we do:

1. Install prometheus from helm
2. Install a sidecar by patching deployment
3. Installing a custom exporter for uwsgi and celery (in cluster services)
4. Modifying prometheus' configmap to add a new scraping job that is utilizing exporters above
5. Sending our exporter metrics to stackdriver (t

[2020-06-26 18:23] memory commented on #104
Gentle ping, one quarter later.  Obviously the pandemic has derailed many a timetable; I hope everyone involved here is healthy and safe and keeping it that way should be everyone's #1 priority.

Somewhere deep below that on the list of priorities: is this on anyone's radar? :)

[2020-07-14 16:12] nagarjuna90 commented on #107
Hi Daniel,

apiVersion: v1
kind: Pod
metadata:
  annotations:
    cni.projectcalico.org/podIP: 10.1.37.27/32
    sidecar.istio.io/inject: "false"
  creationTimestamp: "2020-07-14T15:42:55Z"
  generateName: prometheus-7f9df8b68c-
  labels:
    app: prometheus
    pod-template-hash: 7f9df8b68c
    release: istio
  name: prometheus-7f9df8b68c-dmkcg
  namespace: istio-system
  ownerReferences:
  - api

[2020-07-14 18:12] nagarjuna90 commented on #107
Hi

My Prometheus Pod and sidecar container are running but I don't see any metrics in stack diver related to Prometheus.
When I run logs against the pod with side car container I get below

level=info ts=2020-07-14T16:23:49.975Z caller=main.go:293 msg="Starting Stackdriver Prometheus sidecar" version="(version=0.7.5, branch=master, revision=c8c0bfb1a5e22f5838eb6bb86608b29ef0eca0ef)"
level=info ts

[2020-08-03 10:52] ocervell opened #250 "Autodetect GKE resource attributes"
I'd like to deploy the SD prometheus sidecar without having to patch (i.e: just one YAML).

Ideally it would look like this:
[code]

Any idea if we could have autodetected defaults for the arguments `--stackdriver.project_id`, `--stackdriver.kubernetes.location` and `--stackdriver.kubernetes.cluster-name` ? They would default to the GKE cluster they are running on.

[2020-08-05 08:50] arturgspb commented on #229
I have the same troubles. Any ideas?

[2020-08-05 09:05] arturgspb commented on #104
I have the same problem when trying to send data to local Kubernetes.

Everything is complicated by the fact that I cannot find any similar complete examples in the documentation. Please help if someone has something similar.

We are not talking about custom metrics, but about the metrics of the Kubernetes.

[code]

My docker-compose

[code]

[code]

[2020-08-06 12:55] arturgspb commented on #104
💥 I found! https://www.padok.fr/en/blog/monitoring-stackdriver-kubernetes

[2020-08-07 21:55] parthmishra commented on #225
In case anyone else is still struggling with this, I see that the [example kube-state-metrics](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/master/kube/full/kube-state-metrics.yaml) deployment scrapes it via annotation discovery so that it's collected in a 'kubernetes-services-endpoints' Prometheus job.

I added the annotations to my kube-state-metric service and the majority

[2020-08-10 14:35] arturgspb commented on #229
I found https://github.com/Stackdriver/stackdriver-prometheus-sidecar/issues/104#issuecomment-669909442

[2020-08-21 18:39] mboveri opened #251 "Sidecar usage for outside of GKE clusters"
Hello,

I have kubernetes clusters in multiple clouds (GCP, AWS, on-prem OpenStack) and would like to export all my prometheus metrics to Stackdriver. Right now, stackdriver-prometheus-sidecar does not have the ability to explicitly specify which service account credentials to use when communicating with the Google Cloud Monitoring (GCM) API. This means that the sidecar cannot function outside of

[2020-08-26 17:19] mboveri commented on #251
I have the JSON, but am getting stuck on the volume mounting bit, do you have an example of that I could take a look at?

[2020-08-26 17:25] Dnefedkin commented on #251
Take a look at https://stackoverflow.com/questions/47021469/how-to-set-google-application-credentials-on-gke-running-through-kubernetes

[2020-08-26 21:24] mboveri commented on #251
I was able to get that working but am now getting the following error in the sidecar's container logs:
`level=warn ts=2020-08-26T21:17:02.122Z caller=queue_manager.go:534 component=queue_manager msg="Unrecoverable error sending samples to remote storage" err="rpc error: code = InvalidArgument desc = One or more TimeSeries could not be written: Unrecognized region or location.: timeSeries[0-199]"`

[2020-08-26 21:37] mboveri commented on #251
For anyone else attempting to mount volumes to Prometheus, the minimum version is 8.13.13 when Volume and VolumeMounts were added - https://github.com/helm/charts/commit/ef0d749132ecfa61b2ea47ccacafeaf5cf1d3d77

[2020-08-27 15:41] Dnefedkin commented on #251
As I've mentioned in the [comment above](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/issues/251#issuecomment-678487844) you need to pass  --stackdriver.generic.location as a sidecar parameter to fill mandatory "location" label associated with [generic_task](https://cloud.google.com/monitoring/api/resources#tag_generic_task) monitored resource type.

Most probably you're not speci

[2020-08-28 00:16] mboveri commented on #251
Looks like setting the follow did the trick. We are working on getting some better filtering, so have stopped sending for now, but we were able to get the OpenStack cluster to connect and see metrics in the Metrics explorer before disabling.
`- --stackdriver.project-id={redacted}
- --prometheus.wal-directory=/prometheus/wal
- --stackdriver.kubernetes.location={redacted}
- --stackdriver.kubernetes.

[2020-08-28 00:32] mboveri commented on #251
We will also still need to figure out why also, we need to figure out why some metrics are getting rejected

**we see errors like:**
 `level=warn ts=2020-08-27T23:42:27.611Z caller=queue_manager.go:534 component=queue_manager msg="Unrecoverable error sending samples to remote storage" err="rpc error: code = InvalidArgument desc = One or more TimeSeries could not be written: Unrecognized region or

[2020-08-28 00:35] mboveri commented on #251
I think at least:
`level=warn ts=2020-08-27T23:23:07.075Z caller=queue_manager.go:534 component=queue_manager msg="Unrecoverable error sending samples to remote storage" err="rpc error: code = InvalidArgument desc = One or more TimeSeries could not be written: Field timeSeries[100].metric.type had an invalid value of \"external.googleapis.com/prometheus/gate:hystrix:isCircuitBreakerOpen\": The met

[2020-09-01 16:33] Dnefedkin commented on #251
container_fs_sector_writes_total sounds like a counter metric, not a gauge, so is should have start time before end time to reflect the time interval. If you want to represent this metric as a gauge, you can use static_metadata entry in the config file, see https://github.com/Stackdriver/stackdriver-prometheus-sidecar#file

This sounds like a Google Cloud Monitoring API restriction, 10 labels maxi

[2020-09-02 19:14] mboveri commented on #251
Awesome, thanks @Dnefedkin !

[2020-10-28 16:42] memory commented on #104
@StevenYCChou  it's approaching a year since the last substantial update on this issue.  Is this expected to be addressed any time soon?

[2020-10-29 15:38] TheJokersThief commented on #104
This has also been a bit of a thorn in our side too, would love some idea of getting something like @memory's change into upstream? :)

[2020-11-06 15:30] WaterKnight1998 opened #255 "[ISSUE] Not seeing metrics of all namespaces"
Hi,

I am adding this side car container to [this deployment](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack).

In GCP Monitoring I have selected `k8s_container` as `Resource type` and `external/prometheus/go_memstats_alloc_bytes` as `Metric`.

In `pod_name` I see the pods from the namespace where Prometheus is deployed. However, I cannot see the metrics

[2020-11-10 12:21] WaterKnight1998 commented on #231
@nambrot Same happening here. If I mount `prometheus-to-sd` I get metrics (`kube-state-metrics` & `Node exporter`) from all namespaces in GCP Monitoring. However, If I use this sidecar I don´t get them from all namespaces.

How did you solve this error?

[2020-11-10 13:50] jkohen commented on #255
Hi sorry to hear about the trouble. I'm no longer involved on this project, someone from the Google Cloud team should pick this up soon.

[2020-11-10 16:02] igorpeshansky commented on #255
@WaterKnight1998 are there any errors in the container logs for the sidecar? What is the exact configuration of the sidecar?

[2020-11-10 17:43] WaterKnight1998 commented on #255
I am using it with [kube-prometheus-stack](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack).

Configuration:
[code]

Logs:
[code]

[2020-11-11 18:55] n-oden commented on #104
Hi @qingling128 and welcome to this extremely fun ticket! :) Let me know if I can offer any other details here.

[2020-11-25 01:43] tkporter commented on #226
For anyone trying this in the future, it's possible!

Stackdriver has "Resource Types" that are implied/derived from prometheus metric labels by stackdriver-prometheus-sidecar. All the Resource Types and the expected labels are found in [retrieval/resource_map.go](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/blob/adcf43c08be82179309e7b56d11c8bf7da20270c/retrieval/resource_map.go).

[2020-11-25 12:21] frodood opened #257 "sidecar support"
Is this sidecar only work with kubernates? what if I want to push some metrics that I already have in prometheus to stack driver? can I do this from this sidecar?

[2020-12-10 17:32] TrocaTudo95 opened #258 "Missing usage of configuration file"
I want to use the configuration file to rename a metric but in the documentation only says: "A configuration file should not be required for the majority of users."

[2020-12-13 23:18] #179 closed

[2020-12-13 23:18] #128 closed

[2020-12-15 21:22] sagar-infinitus-ai opened #259 "Add flag to throttle ingestion requests per minute"
We had an incident (seemed to coincide with the recent Google outage on Dec 14) where, for a period of about 50 minutes, ALL requests to MetricService.CreateTimeSeries were failing.

When the api eventually recovered, the stackdriver sidecar attempted to send all outstanding data, hitting quota limits for Time series ingestion requests / minute.

Once this quota was it, it was never able to recove

[2020-12-18 11:26] TrocaTudo95 commented on #104
Is there any news on this?

[2020-12-23 18:20] chenglanguo commented on #255
same problem

[2020-12-23 18:23] chenglanguo commented on #231
same problem, can't get metrics  from all namespaces
only get metrics from namespace which has prometheus

[2020-12-30 02:42] dinesh4747 opened #262 "Enable prometheus metrics for stackdriver-sidecar to monitor and alert under scale"
Does stackdriver-sidecar exposes any prometheus metrics within itself, since we wanted to monitor and alert them under scale

Just adding the prometheus annotation doesn't helped the case, please do confirm does whether metrics are exposed and in what path and port

[2021-01-12 21:02] MrPickles opened #264 "Support for health and liveness checks when running on Kubernetes"
Does the Stackdriver Sidecar expose any endpoints for liveness and readiness probes? Prometheus itself has such [endpoints](https://prometheus.io/docs/prometheus/latest/management_api/#health-check). If not, are there plans to support those?

We've been running into recent issues where the sidecar pods randomly seem to fail to fetch GCP credentials. (It seems to be a transient error, but I'm not c

[2021-01-13 14:32] Vincoll commented on #255
Same problem,
Metrics from **kube-state-metrics** that concerns others Namespaces are not present in Cloud Monitoring.
eg : `kube_pod_created`

[code]
I just have one unrelated error log :
`One or more TimeSeries could not be written: The new labels would cause the metric external.googleapis.com/prometheus/kube_deployment_labels to have over 10 labels`

Metrics from others sources are OK.

[2021-01-15 21:37] n-oden commented on #104
Coming back to this after a long absence, I think several of us (myself very much included) got stuck in a rabbit hole when there is a much simpler solution available for most cases.

With only the [code change to `targets/cache.go`](https://github.com/Stackdriver/stackdriver-prometheus-sidecar/pull/159/files#diff-7e4772be07c1c3a7fa3107d1a4677d3a7c0c48ff6eda5cc298d64894a74e4d41) in #159 (and none

[2021-01-18 14:23] n-oden commented on #104
(As a small followup: exporting recorded histograms does not seem to currently be possible.  The current code assumes that all recorded metrics are gauges, and attempting to pin the value/value_type as counter/distribution produces an error that distribution is not a supported value type.)

[2021-01-19 08:40] bittermandel opened #267 "Unrecovereable error when remote writing NGINX Ingress metrics"
We have a basic installation of the sidecar together with the Prometheus Operator, and have configured the sidecar with the following flags:
[code]

The metrics we are exporting are the default ones from https://github.com/kubernetes/ingress-nginx. This gives us the following error, about a few times per minute. This leads to no metrics being written to Stackdriver, while not giving a clear error.

[2021-01-19 09:01] bittermandel commented on #267
I have a feeling it is caused by the bucket metrics, which have over 10 labels. Unsuccessful to filter them out using `--include{__name__!~".+bucket", __name__=~"nginx_.+"}`

[2021-01-22 17:07] jmacd opened #268 "Assumptions about order of ReadDir results in tail/tail.go"
Reporting this bug discovered in an downstream fork of this repository, here:

https://github.com/lightstep/opentelemetry-prometheus-sidecar/issues/69

This can result in the sidecar exiting with a bogus corruption message when in fact nothing is wrong.

The fix is simple, see the associated PR. If it pleases a maintainer of this code, consider looking at other downstream changes in `tail/tail.go`

[2021-01-29 20:20] jmacd commented on #233
I have a theory about this, noted in a downstream fork: https://github.com/lightstep/opentelemetry-prometheus-sidecar/issues/84

[2021-02-01 16:42] jmacd commented on #233
I strongly suspect this is due to particular data points causing an unrecoverable error that looks recoverable. This requires some kind of never-succeeding request to explain, but the sidecar logic absolutely can fall into a permanent retry loop and block the WAL reader when this happens. Documented in the downstream repository

https://github.com/lightstep/opentelemetry-prometheus-sidecar/issues/

[2021-02-01 16:43] jmacd commented on #233
This is the function that never returns:
[code]

[2021-02-01 19:39] jmacd opened #270 "Indefinitely-blocked sidecar problems"
There are two ways that the Stackdriver sidecar can be blocked indefinitely. Note that Lightstep has an OpenTelemetry fork this code and has observed the issue. See the downstream repository issue https://github.com/lightstep/opentelemetry-prometheus-sidecar/issues/88.

The problem has to start with an indefinitely blocked send. If there is a particular data point that returns a recoverable error

[2021-02-05 07:21] varun-krishna opened #272 "Sidecar stopped submitting stats to StackDriver abruptly within minutes of start even as Prometheus has all metrics"
We have a  stackdriver-prometheus-sidecar working on our RKE cluster along with Prometheus containers . Prometheus continued collecting data without issues. However, the sidecar stopped submitting data to StackDriver. We can manually query the data from Prometheus without issues, there's no missing data.

**_Prometheus Logs_**

[code]

**_Sidecar Logs_**

[code]

 Any insights here would be really

[2021-02-08 17:55] varun-krishna commented on #272
Hey friends, @jkohen @fabxc @StevenYCChou @qingling128 @nmamadeo  Any pointers here would be really helpfull. This issue is blocking one of our release as no metrics are being shipped to Stackdriver

[2021-02-09 01:25] qingling128 commented on #272
Hi @varun-krishna , thanks for providing the feedback. The Stackdriver Prometheus sidecar is designed for GKE use cases. Unfortunately RKE is not a supported platform by us. If the issue is reproducible on GKE, feel free to reopen this bug with the reproduction steps (e.g. GKE version, sidecar version, yaml config etc.), so we can take a closer look.

[2021-02-09 01:25] #272 closed

[2021-02-09 07:28] varun-krishna commented on #233
I see the same behaviour with the same messages from the stack-driver sidecar

[2021-02-16 21:29] immber commented on #237
The documentation on the ReadMe for filters is incorrect and results in parsing errors. To reference a metric by name you must use this format, and do not include the extra quotes shown on the ReadMe example:

For example:
```--include='{__name__="http_requests_total"}'```
Should be:
```--include={__name__="http_requests_total"}```

Or you will get `err="cannot parse --include flag`

[2021-03-05 01:27] #270 closed

[2021-03-05 01:27] jmacd commented on #270
I consider this an informational report.

[2021-03-16 14:50] oloopine opened #277 "Support for Prometheus deployments with multiple replicas"
Hi, is Stackdriver sidecar supported to be deployed in scenarios where Prometheus deployment has a replica count of 2?

If the answer is yes, would we then end with duplicate metrics in Cloud Monitoring or there is some deduplication available on the receiving end?

Thanks.

[2021-03-29 15:42] 7adietri opened #278 "Add information to README about "too many labels" and possible solutions"
I've deployed the sidecar on a cluster with Istio/Knative, and some metrics aren't showing up in the Metrics Explorer. The sidecar log didn't reveal anything at first, only after turning on `debug` logging did I see a ton of `too many labels` errors. (This in itself seems like a bug, or worthy of mentioning in the README.) According to the error messages, the problematic metrics have almost 40 lab

[2021-03-31 17:14] 7adietri commented on #278
Since dropping labels in Prometheus seems to create new problems, I've added customizable label filtering on `finalLabels` to `seriesCache.refresh()`. Seems to work fine in my local build of the sidecar. Would you be interested in receiving a PR for this?

I am using the config file to define filters, i.e.:

[code]

[2021-04-06 22:13] forestoden opened #279 "msg="target not found" for standard kube-state-metrics"
I am trying to set up the stackdriver-prometheus-sidecar to push a few CronJob/Job metrics from `kube-state-metrics` to Stackdriver. I'm running into an issue where no matter what I do, all of the metrics report
[code]

Here is my config for the sidecar:
[code]

I am using the Prometheus operator, with Prometheus version 2.18. I tried a couple different versions (up to 2.22) with no luck.

I am no

[2021-04-07 20:07] forestoden commented on #279
I dug into the code a bit and determined what the issue is but I'm not sure how it could be fixed given how the code works today.

The issue stems from the target look up, and getting a target from the Cache. We make a call
[code]
that attempts to "return the first target in the entry that matches all labels of the input set iff it has them set." Prometheus targets have a `namespace` label. For `k

[2021-04-23 07:47] switchtrue opened #280 "cannot find module providing package"
I'm trying to do a local install using the recommendation from the readme of `go get github.com/Stackdriver/stackdriver-prometheus-sidecar/...`. However, when doing this I am getting a few modules that can't be found:
- `go.opencensus.io/exporter/prometheus`
- `github.com/Azure/azure-sdk-for-go/arm/compute`
- `github.com/Azure/azure-sdk-for-go/arm/network`

Full output:
[code]

go version:
[code]

[2021-05-18 16:10] vmcalvo commented on #279
I have had the same problem with this sidecar and kube-state-metrics, in my case the only solution I have found is to modify the Prometheus ServiceMonitor (I am using https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack/templates )

The serviceMonitor that it generates for the kube-state-metrics metrics scrape takes a literal value for honorLabels of true:
htt

[2021-06-02 19:53] salanfe commented on #278
Hello ! I'm facing the exact same issue !

Here are the steps to reproduce
1. create a standard GKE cluster, I'm using `1.19.9-gke.1400`. And follow [istio setup guide for GKE](https://istio.io/latest/docs/setup/platform-setup/gke/).
1. [install Istio Operator](https://istio.io/latest/docs/setup/install/operator/), and enable sidecar injection in the default namespace `kubectl label namespace defa

[2021-06-02 20:13] 7adietri commented on #278
@salanfe Check out PR https://github.com/Stackdriver/stackdriver-prometheus-sidecar/pull/283

We're currently deploying a custom build of the sidecar image, but I hope the PR will be accepted, so that we can switch back to the official image.

[2021-06-11 18:06] hixichen commented on #136
for anyone who search and view this page:

refer:  [GKE workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity)

[code]

[2021-06-11 18:07] hixichen commented on #142
refer:  [GKE workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity)

[code]

[2021-06-25 14:13] R0den commented on #277
Any update on this one?

[2021-06-29 19:45] vfabi opened #284 "Prometheus added labels not exported to stackdriver"
Hi all,

Could you please explain or advice, why additional labels added by Prometheus are not exported to GCP/stackdriver ?
My assumption this is due to WAL updates processed by sidecar before Prometheus add its own labels.

[2021-06-30 14:17] vfabi opened #285 "'--include=' flag in configuration file"
Hi all,

Is it possible to use '--include=' flag values in configuration file ?

[2021-06-30 17:50] vfabi commented on #284
Well, it seems that metrics with labels transferred to stackdriver, but in Metrics Explorer's labels filter it doesn't appear.

[2021-07-05 16:41] harpreetpaul opened #286 "Error when installing the sidecar on local machine."
I am on go version -  go1.16.5 windows/amd64

I am trying to follow the installation step mentioned in README

 ```go get github.com/Stackdriver/stackdriver-prometheus-sidecar/...```

During the installation I am getting following error. Any pointers to resolve this issue

[code]

[2021-07-15 22:48] Naterd commented on #278
I have had success in the past as a GCP customer that opening a support case asking for this PR to be reviewed and merged has helped get a response as I am currently running into this exact issue.

Opening a support case now :)

[2021-07-21 03:13] igorpeshansky commented on #278
@7adietri, could you please be more specific about the issues you ran into with `metric_relabel_configs` (what was your exact configuration, what were the exact errors in the sidecar log, what environment you were running in)? Before we consider adding new functionality to the sidecar, it would help us to understand why the existing solution (metric relabeling on the Prometheus side) does not cove

[2021-07-29 13:22] 7adietri commented on #278
@igorpeshansky Ok, so this is a typical error message (only visible at `debug` level) when using the sidecar in a cluster with Knative/Istio:

[code]

Definitely more than 10 labels. Lets start with removing all the `source_` and `destination_` labels. I add this to the `scrape_configs` in `prometheus.yml`:

[code]

Looks good in the Prometheus UI:

[code]

But in the sidecar log, new error messag

[2021-08-28 04:49] ethai commented on #272
@qingling128 I'm running this sidecar in GKE and hitting this exact here

level=warn ts=2021-08-28T04:43:19.878Z caller=manager.go:247 component="Prometheus reader" msg="Failed to build sample" err="get series information: unexpected metric name suffix \"_bucket\"

let me know what other info you may need in order to assist.

Running sidecar 0.8.2

I made attempt to startup the sidecar with this f

[2021-09-01 04:18] numonedad opened #294 "keys show up, but no data"
Trying to load any metrics into metrics explorer shows  a "no data for this time range" in the graph. The metrics are being pushed as I see metrics ingress bytes count is >0. Is there some way to debug the metrics actually being processed and viewable in metrics explorer? One special thing to note, I do not use GKE. I have to untoggle 'show active' to find these metrics keys.
<img width="767" alt=

[2021-11-12 10:15] mzwennes commented on #294
I am seeing the same issue on a GKE cluster. I see a list of inactive metrics in Cloud Monitoring, but neither of them contain any data.

Relevant Prometheus config (metrics show up in Prometheus):
[code]

Versions used:
* Stackdriver Prometheus Sidecar - gcr.io/stackdriver-prometheus/stackdriver-prometheus-sidecar:0.10.0
* Prometheus - Tested with 2.30 and 2.19.0 (to match with compatibility matr

[2021-11-12 19:06] jsirianni commented on #277
I am also curious about this. I guess I assumed replicas > 1 was supported. Is there any evidence that suggests it is not? Running in kubernetes, I would expect many replicas to be supported.

[2021-11-12 20:22] jsirianni commented on #267
@bittermandel were you able to resolve this? I think I have a similar issue with the following args
[code]

[2022-01-18 19:40] dh185221 opened #297 "stackdriver-prometheus-sidecar alternatives for non-GKE clusters"
Thanks for all of your work on this project.   Now that the project is in maintenance mode do you have any recommendations or alternative solutions for getting data to Google Cloud Monitoring(stackdriver) for non-GKE clusters ?

[2022-02-08 20:39] jinnovation commented on #229
I noticed, from the colons in the name, that this is a recording rule.

My team recently sunk ~3 days into debugging just this issue. I think our findings will be helpful here.

Basically: the sidecar makes assumptions about the relationship between scrape targets and metrics that don't universally hold when the metric in question is a recording rule.

The key here is [`targets/cache#targetMatch`]

[2022-02-08 20:55] jinnovation commented on #279
Building on @forestoden and @vmcalvo's findings, my [recent comment] in #229 might be relevant as well.

[recent comment]: https://github.com/Stackdriver/stackdriver-prometheus-sidecar/issues/229#issuecomment-1033040875

[2022-03-10 00:41] gfrankliu commented on #297
For your own clusters, follow [this](https://cloud.google.com/stackdriver/docs/managed-prometheus/setup-unmanaged)

If you use non Kubernetes, follow [this](https://cloud.google.com/stackdriver/docs/managed-prometheus/setup-unmanaged#gmp-binary)

[2022-04-29 15:57] n-oden commented on #104
With the merge of #266 I believe this bug can, at long last, be closed.

[2022-04-29 20:15] igorpeshansky commented on #104
#266 has been merged.

[2022-04-29 20:15] #104 closed